# 유관데이터 전처리

* 서울대 대상환자 : 755 명
* 아주대 대상환자 : 482 명
* 연세대 대상환자 : 275 명

* 합계 : 1,512 명

# 서울대

In [39]:
import pandas as pd, numpy as np
import os, tqdm, warnings
import datetime as dt

from time import time
from timeit import default_timer as timer
from pytz import timezone

warnings.filterwarnings('ignore')

# Timer
start = timer()

# set path
SNU_path = '/VOLUME/nia_vent_weaning/raw_data/SNU/'
dst_path =  '/VOLUME/nia_vent_weaning/data/SNU/'
# set variables
var_list = ['demographics', 'diagnosis', 'drug', 'heightandweight', 'lab', 'ventilator', 'ventilator_parameter', 'vitalsign']
# Directory list in SNU folder
dir_list = os.listdir(SNU_path)     # ['1-001', '1-002~1-021', '1-090~1-379', '1-022~1-089', '1-380~1-756']
dir_list.remove('.DS_Store')

for v in var_list:
    globals()['{}'.format(v)] = pd.DataFrame()  # define empty dataFrame
    

for idx in tqdm.tqdm(range(len(dir_list))):
    
    final_path = SNU_path + dir_list[idx] + '/'

    for f_n in os.listdir(final_path):

        if f_n != '.DS_Store':
            var = f_n.split('.')[0]

            if f_n[-3:] == 'csv':
                tmp_df = pd.read_csv(final_path + f_n, encoding='cp949')

            elif f_n[-4:] == 'xlsx':
                tmp_df = pd.read_excel(final_path + f_n)

            globals()['{}'.format(var)] = pd.concat([globals()['{}'.format(var)], tmp_df])  # define empty dataFrame

for v in var_list:
    globals()['{}'.format(v)].to_csv(dst_path + v + '.csv')

end = timer()
print('Code Execution Finished at ', dt.datetime.now(timezone('Asia/Seoul')), '\tTime elapsed: ', dt.timedelta(seconds=end-start), 'seconds')

100%|██████████| 5/5 [03:28<00:00, 41.69s/it]

Code Execution Finished at  2022-11-16 15:38:25.856186+09:00 	Time elapsed:  0:03:37.251165 seconds

* File Check

In [43]:
path = '/VOLUME/nia_vent_weaning/data/SNU/'
var_list = ['demographics', 'diagnosis', 'drug', 'heightandweight', 'lab', 'ventilator', 'ventilator_parameter', 'vitalsign']
idx = 6

df = pd.read_csv(path + var_list[idx] + '.csv', index_col=0)
df

,hospital_id,patient_id,hadm_id,mv_id,parameter,parameter_datetime,value,valuenum,unit
0,1.0,2,1,2,Respiratory management/Ventilator_FiO2(setting),2021.9.23 18:00,35,NaN,%
1,1.0,2,1,2,Respiratory management/Ventilator_PEEP(setting),2021.9.23 18:00,5,NaN,cmH2O
2,1.0,2,1,2,Respiratory management/Ventilator_Minute venti...,2021.9.23 18:00,7.8,NaN,L/min
3,1.0,2,1,2,Respiratory management/Ventilator_Meam airway ...,2021.9.23 18:00,8.1,NaN,cmH2O
4,1.0,2,1,2,Respiratory management/Ventilator_Peak inspira...,2021.9.23 18:00,19.4,NaN,cmH2O
...,...,...,...,...,...,...,...,...,...
148,1.0,1,1,snu_001,Respiratory management/Ventilator_PSV(setting),2022-06-17 19:00:00,5,NaN,cmH2O
149,1.0,1,1,snu_001,Respiratory management/Ventilator_Respiratory ...,2022-06-17 19:00:00,19.1,NaN,/min
150,1.0,1,1,snu_001,Respiratory management/Ventilator mode(setting),2022-06-17 19:00:00,PS/CPAP,NaN,NaN
151,1.0,1,1,snu_001,Respiratory management/Ventilator_Meam airway ...,2022-06-17 19:04:00,9.6,NaN,cmH2O
152,1.0,1,1,snu_001,Respiratory management/Ventilator_Respiratory ...,2022-06-17 19:04:00,19.6,NaN,/min

In [44]:
df[df['patient_id']==7]

,hospital_id,patient_id,hadm_id,mv_id,parameter,parameter_datetime,value,valuenum,unit
23609,NaN,7,1,7,Respiratory management/Ventilator_I:E(setting),2021.9.13 11:26,1:02,NaN,NaN
23610,NaN,7,1,7,Respiratory management/Ventilator_Trigger type...,2021.9.13 11:26,flow,NaN,NaN
23611,NaN,7,1,7,Respiratory management/Ventilator mode(setting),2021.9.13 11:26,PC-CMV,NaN,NaN
23612,NaN,7,1,7,Respiratory management/Ventilator_E-sens or ES...,2021.9.13 11:26,2,NaN,NaN
23613,NaN,7,1,7,Respiratory management/Ventilator_Respiratory ...,2021.9.13 11:28,20,NaN,/min
...,...,...,...,...,...,...,...,...,...
25333,NaN,7,1,7,Respiratory management/Ventilator_Peak inspira...,2021.9.18 14:00,7.6,NaN,cmH2O
25334,NaN,7,1,7,Respiratory management/Ventilator_Minute venti...,2021.9.18 14:00,7.4,NaN,ml
25335,NaN,7,1,7,Respiratory management/Ventilator_PSV(setting),2021.9.18 14:00,0,NaN,cmH2O
25336,NaN,7,1,7,Respiratory management/Ventilator mode(setting),2021.9.18 14:00,CPAP/PSV,NaN,NaN
25337,NaN,7,1,7,Respiratory management/Ventilator_Tidal volume...,2021.9.18 14:00,528,NaN,ml

In [47]:
print('Weaning Success patients: ', len(ventilator[ventilator['re_mv_status']==0]))
print('Weaning Fail patients: ', len(ventilator[ventilator['re_mv_status']==1]))

Weaning Success patients:  704
Weaning Fail patients:  52

# 아주대

In [51]:
df = pd.read_excel('/VOLUME/nia_vent_weaning/raw_data/AJU/1cycle/demographics.xlsx')
df

,hospital_id,patient_id,hadm_id,sex,birth_date,hosp_adm_date,hosp_discharge_date,icu_adm_date,icu_discharge_date,icu_type,death_datetime
0,2,2_001,1,0,1927-03-01,2019-06-22,2019-06-28,2019-06-22,2019-06-28,2,2019-06-28 05:24:00
1,2,2_002,1,0,1930-08-01,2019-04-15,2019-05-02,2019-04-23,2019-05-02,1,2019-05-02 16:10:00
2,2,2_003,1,1,1943-05-01,2019-04-21,2019-05-10,2019-04-24,2019-05-03,2,NaT
3,2,2_004,1,1,1965-02-01,2019-06-19,2019-07-17,2019-06-19,2019-07-17,2,NaT
4,2,2_006,1,1,1934-11-01,2019-04-22,2019-05-05,2019-04-22,2019-05-05,2,2019-05-04 23:51:00
...,...,...,...,...,...,...,...,...,...,...,...
148,2,2_245,1,1,1979-09-01,2019-03-23,2019-05-07,2019-03-23,2019-04-19,2,NaT
149,2,2_248,1,1,1979-01-01,2019-04-07,2019-06-07,2019-04-07,2019-04-24,2,NaT
150,2,2_249,1,0,1990-09-01,2019-05-05,2019-05-23,2019-05-05,2019-05-17,2,NaT
151,2,2_251,1,1,1974-09-01,2019-05-10,2019-05-21,2019-05-10,2019-05-22,2,2019-05-21 17:01:00
152,2,2_252,1,1,1959-02-01,2019-05-10,2019-06-13,2019-05-10,2019-05-29,2,NaT

In [52]:
import pandas as pd, numpy as np
import os, tqdm, warnings
import datetime as dt

from time import time
from timeit import default_timer as timer
from pytz import timezone

warnings.filterwarnings('ignore')

# Timer
start = timer()

# set path
AJ_path = '/VOLUME/nia_vent_weaning/raw_data/AJU/'
dst_path =  '/VOLUME/nia_vent_weaning/data/AJ/'
# set variables
var_list = ['demographics', 'diagnosis', 'drug', 'heightandweight', 'lab', 'ventilator', 'ventilator_parameter', 'vitalsign']
# Directory list in SNU folder
dir_list = os.listdir(AJ_path)     # ['1-002~1-021', '1-090~1-379', '1-022~1-089', '1-380~1-756']
dir_list.remove('.DS_Store')
dir_list.remove('ventilator_parameter_1.csv')
dir_list.remove('ventilator_parameter_2.csv')

for v in var_list:
    globals()['{}'.format(v)] = pd.DataFrame()  # define empty dataFrame
    

for idx in tqdm.tqdm(range(len(dir_list))):
    
    final_path = AJ_path + dir_list[idx] + '/'

    for f_n in os.listdir(final_path):

        if f_n != '.DS_Store':
            var = f_n.split('.')[0]

            if f_n[-3:] == 'csv':
                try:
                    tmp_df = pd.read_csv(final_path + f_n)

                except:
                    try: 
                        tmp_df = pd.read_csv(final_path + f_n, encoding='cp949')
                    except:
                        tmp_df = pd.read_csv(final_path + f_n, encoding='utf-8')

            elif f_n[-4:] == 'xlsx':
                tmp_df = pd.read_excel(final_path + f_n)

            globals()['{}'.format(var)] = pd.concat([globals()['{}'.format(var)], tmp_df])  # define empty dataFrame

for v in var_list:
    globals()['{}'.format(v)].to_csv(dst_path + v + '.csv')


end = timer()
print('Code Execution Finished at ', dt.datetime.now(timezone('Asia/Seoul')), '\tTime elapsed: ', dt.timedelta(seconds=end-start), 'seconds')

100%|██████████| 3/3 [00:01<00:00,  1.81it/s]

Code Execution Finished at  2022-11-16 15:44:01.782094+09:00 	Time elapsed:  0:00:05.727167 seconds

* File Check

In [66]:
path = '/VOLUME/nia_vent_weaning/data/AJ/'
var_list = ['demographics', 'diagnosis', 'drug', 'heightandweight', 'lab', 'ventilator', 'ventilator_parameter', 'vitalsign']
idx = 0

df = pd.read_csv(path + var_list[idx] + '.csv', index_col=0)
df

,hospital_id,patient_id,hadm_id,sex,birth_date,hosp_adm_date,hosp_discharge_date,icu_adm_date,icu_discharge_date,icu_type,death_datetime
0,2,2_001,1,0,1927-03-01 00:00:00,2019-06-22 00:00:00,2019-06-28 00:00:00,2019-06-22 00:00:00,2019-06-28 00:00:00,2,2019-06-28 05:24:00
1,2,2_002,1,0,1930-08-01 00:00:00,2019-04-15 00:00:00,2019-05-02 00:00:00,2019-04-23 00:00:00,2019-05-02 00:00:00,1,2019-05-02 16:10:00
2,2,2_003,1,1,1943-05-01 00:00:00,2019-04-21 00:00:00,2019-05-10 00:00:00,2019-04-24 00:00:00,2019-05-03 00:00:00,2,NaN
3,2,2_004,1,1,1965-02-01 00:00:00,2019-06-19 00:00:00,2019-07-17 00:00:00,2019-06-19 00:00:00,2019-07-17 00:00:00,2,NaN
4,2,2_006,1,1,1934-11-01 00:00:00,2019-04-22 00:00:00,2019-05-05 00:00:00,2019-04-22 00:00:00,2019-05-05 00:00:00,2,2019-05-04 23:51:00
...,...,...,...,...,...,...,...,...,...,...,...
145,2,2_490,1,1,1946-12,2021-09-05 09:49:00,2021-09-28 22:46:12,2021-09-06 17:14:42,2021-09-28 21:27:00,2,2021-09-28 18:45:00
146,2,2_492,1,1,1992-03,2021-09-18 22:38:00,2021-12-03 11:03:05,2021-09-18 22:38:35,2021-10-16 16:13:00,2,NaN
147,2,2_497,1,1,1991-07,2021-10-21 03:15:00,2021-11-17 11:36:17,2021-10-21 03:15:28,2021-10-26 16:27:00,2,NaN
148,2,2_516,1,1,1955-12,2022-02-16 09:34:00,2022-03-18 11:18:31,2022-02-16 09:34:15,2022-03-18 11:36:00,2,NaN
149,2,2_521,1,1,1961-10,2022-03-21 19:48:00,2022-05-12 13:17:56,2022-03-31 13:12:09,2022-04-27 16:30:00,2,NaN

In [67]:
ventilator = pd.read_csv('/VOLUME/nia_vent_weaning/data/AJ/ventilator.csv', index_col=0)

print('Weaning Success patients: ', len(ventilator[ventilator['re_mv_status']==0]))
print('Weaning Fail patients: ', len(ventilator[ventilator['re_mv_status']==1]))

Weaning Success patients:  397
Weaning Fail patients:  85

* Integrating Ventilator Data

In [68]:
import pandas as pd, warnings

warnings.filterwarnings('ignore')

emr_vent_df = pd.read_csv('/VOLUME/nia_vent_weaning/data/AJ/ventilator_parameter.csv', index_col=0).iloc[:,:9]
col_list = list(emr_vent_df.keys())

vent_df1 = pd.read_csv('/VOLUME/nia_vent_weaning/raw_data/AJU/ventilator_parameter_1.csv')
vent_df1.columns = col_list
vent_df2 = pd.read_csv('/VOLUME/nia_vent_weaning/raw_data/AJU/ventilator_parameter_2.csv')
vent_df2.columns = col_list
vent_df1.head()

,hospital_id,patient_id,hadm_id,mv_id,parameter,parameter_datetime,value,valuenum,unit
0,2,2_531,1,2_531,Respiratory management/Ventilator_Meam airway ...,2020-10-18 09:39:01,12,NaN,cmH2O
1,2,2_531,1,2_531,Respiratory management/Ventilator_Plateau Pres...,2020-10-18 09:39:01,19,NaN,cmH2O
2,2,2_531,1,2_531,Respiratory management/Ventilator_Peak inspira...,2020-10-18 09:39:01,28,NaN,cmH2O
3,2,2_531,1,2_531,Respiratory management/Ventilator_Tidal volume...,2020-10-18 09:39:01,0,NaN,L
4,2,2_531,1,2_531,Respiratory management/Ventilator_Minute venti...,2020-10-18 09:39:01,6,NaN,L/min

In [69]:
print('EMR File: ', emr_vent_df.shape)
print('Vent 1 File: ', vent_df1.shape)
print('Vent 2 File: ', vent_df2.shape)

EMR File:  (89109, 9)
Vent 1 File:  (10993345, 9)
Vent 2 File:  (35344046, 9)

In [70]:
final_vent_df = pd.concat([emr_vent_df, vent_df1, vent_df2], axis=0)
vent_plist = list(set(ventilator['patient_id']))
final_vent_df = final_vent_df[final_vent_df['patient_id'].isin(vent_plist)]
print(final_vent_df.shape)
final_vent_df.head()

(28848867, 9)

,hospital_id,patient_id,hadm_id,mv_id,parameter,parameter_datetime,value,valuenum,unit
0,2,2_001,1,aju_001,Respiratory management/Ventilator mode(setting),2019-04-15 22:58:00,APV SIMV,NaN,NaN
1,2,2_001,1,aju_001,Respiratory management/Ventilator mode(setting),2019-04-16 08:00:00,APV SIMV,NaN,NaN
2,2,2_001,1,aju_001,Respiratory management/Ventilator mode(setting),2019-04-16 15:00:00,APV SIMV,NaN,NaN
3,2,2_001,1,aju_001,Respiratory management/Ventilator mode(setting),2019-04-16 22:00:00,APV SIMV,NaN,NaN
4,2,2_001,1,aju_001,Respiratory management/Ventilator mode(setting),2019-04-17 07:00:00,APV SIMV,NaN,NaN

In [72]:
# reduce memory ... (2.2 GB --> 1.6 GB)
import gc, numpy as np

def reduce_memory_usage(df, verbose=True):
    numerics = ["int8", "int16", "int32", "int64", "float16", "float32", "float64"]
    start_mem = df.memory_usage().sum() / 1024 ** 2
    for col in df.columns:
        col_type = df[col].dtypes
        if col_type in numerics:
            c_min = df[col].min()
            c_max = df[col].max()
            if str(col_type)[:3] == "int":
                if c_min > np.iinfo(np.int8).min and c_max < np.iinfo(np.int8).max:
                    df[col] = df[col].astype(np.int8)
                elif c_min > np.iinfo(np.int16).min and c_max < np.iinfo(np.int16).max:
                    df[col] = df[col].astype(np.int16)
                elif c_min > np.iinfo(np.int32).min and c_max < np.iinfo(np.int32).max:
                    df[col] = df[col].astype(np.int32)
                elif c_min > np.iinfo(np.int64).min and c_max < np.iinfo(np.int64).max:
                    df[col] = df[col].astype(np.int64)
            else:
                if (
                    c_min > np.finfo(np.float16).min
                    and c_max < np.finfo(np.float16).max
                ):
                    df[col] = df[col].astype(np.float16)
                elif (
                    c_min > np.finfo(np.float32).min
                    and c_max < np.finfo(np.float32).max
                ):
                    df[col] = df[col].astype(np.float32)
                else:
                    df[col] = df[col].astype(np.float64)
    end_mem = df.memory_usage().sum() / 1024 ** 2
    if verbose:
        print(
            "Mem. usage decreased to {:.2f} Mb ({:.1f}% reduction)".format(
                end_mem, 100 * (start_mem - end_mem) / start_mem
            )
        )
    return df


final_vent_df2 = reduce_memory_usage(final_vent_df)
final_vent_df2.to_csv('/VOLUME/nia_vent_weaning/data/AJ/ventilator_parameter.csv')
final_vent_df2.info()

Mem. usage decreased to 1650.75 Mb (0.0% reduction)
<class 'pandas.core.frame.DataFrame'>
Int64Index: 28848867 entries, 0 to 35344045
Data columns (total 9 columns):
 #   Column              Dtype
---  ------              -----
 0   hospital_id         int8
 1   patient_id          object
 2   hadm_id             int8
 3   mv_id               object
 4   parameter           object
 5   parameter_datetime  object
 6   value               object
 7   valuenum            float16
 8   unit                object
dtypes: float16(1), int8(2), object(6)
memory usage: 1.6+ GB

# 변수비교

* vital-sign
* lab
* ventilator parameter
* drug
* heightandweight

In [114]:
import pandas as pd

# set path
aj_path = '/VOLUME/nia_vent_weaning/data/AJ/'
snu_path = '/VOLUME/nia_vent_weaning/data/SNU/'
# ys_path = ''
dst_path = '/VOLUME/nia_vent_weaning/data/integrated_data/'

* Vital-Sign

In [115]:
vital_aj = pd.read_csv(aj_path + 'vitalsign.csv', index_col=0)
vital_snu = pd.read_csv(snu_path + 'vitalsign.csv', index_col=0)
# convert align to radial a line
vital_snu.loc[vital_snu['item']=='DBP(a-line)', 'item'] = 'DBP (radial a-line)'
vital_snu.loc[vital_snu['item']=='SBP(a-line)', 'item'] = 'SBP (radial a-line)'
vital_snu.loc[vital_snu['item']=='MBP(a-line)', 'item'] = 'MBP (radial a-line)'
vital_snu.loc[vital_snu['item']=='SBP (a-line)', 'item'] = 'SBP (radial a-line)'
vital_snu.loc[vital_snu['item']=='DBP (a-line)', 'item'] = 'DBP (radial a-line)'
vital_snu.loc[vital_snu['item']=='MBP (a-line)', 'item'] = 'MBP (radial a-line)'
# NIBP
vital_snu.loc[vital_snu['item']=='DBP(NIBP)', 'item'] = 'DBP (NIBP)'
vital_snu.loc[vital_snu['item']=='SBP(NIBP)', 'item'] = 'SBP (NIBP)'
vital_snu.loc[vital_snu['item']=='MBP(NIBP)', 'item'] = 'MBP (NIBP)'

print('AJ vital-sign shape: ', vital_aj.shape)
print('SNU vital-sign shape: ', vital_snu.shape)

AJ vital-sign shape:  (1183003, 7)
SNU vital-sign shape:  (1353470, 7)

In [116]:
aj_item = set(vital_aj.item)
snu_item = set(vital_snu.item)
print('***** item list *****')
print('AJ item keys: ', aj_item)
print('SNU item keys: ', snu_item)
print('')
print('***** Count *****')
print('AJ item keys: ', len(aj_item))
print('SNU item keys: ', len(snu_item))
print('')
print('***** Matched keys *****') # 공통된 변수 조회
matched_keys = aj_item & snu_item
matched_keys

***** item list *****
AJ item keys:  {'HR', 'MAP (NIBP)', 'SBP (NIBP)', 'DBP (NIBP)', 'RR', 'BT', 'SpO2', 'SBP (radial a-line)', 'DBP (radial a-line)', 'MBP (radial a-line)'}
SNU item keys:  {'HR', 'MBP (NIBP)', 'SBP (radial a-line)', 'DBP (NIBP)', 'RR', 'BT', 'SpO2', 'SBP (NIBP)', 'DBP (radial a-line)', 'MBP (radial a-line)'}

***** Count *****
AJ item keys:  10
SNU item keys:  10

***** Matched keys *****

{'BT',
 'DBP (NIBP)',
 'DBP (radial a-line)',
 'HR',
 'MBP (radial a-line)',
 'RR',
 'SBP (NIBP)',
 'SBP (radial a-line)',
 'SpO2'}

In [117]:
inted_vital = pd.concat([vital_aj, vital_snu], axis=0)
inted_vital = inted_vital[inted_vital['item'].isin(list(matched_keys))]
inted_vital.to_csv(dst_path + 'vitalsign.csv')
inted_vital

,hospital_id,patient_id,hadm_id,vital_datetime,item,value,unit
0,2,2_001,1,2019-04-15 22:58:00,SBP (radial a-line),150.0,mmHg
1,2,2_001,1,2019-04-15 22:58:00,DBP (radial a-line),77.0,mmHg
2,2,2_001,1,2019-04-15 22:58:00,MBP (radial a-line),98.0,mmHg
3,2,2_001,1,2019-04-15 22:58:00,SBP (NIBP),161.0,mmHg
4,2,2_001,1,2019-04-15 22:58:00,DBP (NIBP),125.0,mmHg
...,...,...,...,...,...,...,...
651,1,1,1,2022-06-19 19:00:00,RR,22.0,/min
652,1,1,1,2022-06-19 19:00:00,RR,14.0,/min
653,1,1,1,2022-06-19 19:00:00,SBP (NIBP),122.0,mmHg
654,1,1,1,2022-06-19 19:00:00,SpO2,96.0,%
655,1,1,1,2022-06-19 19:00:00,MBP (radial a-line),97.0,mmHg

* LAB results

In [110]:
aj_df = pd.read_csv(aj_path + 'lab.csv', index_col=0).dropna(subset=['lab_name'])
snu_df = pd.read_csv(snu_path + 'lab.csv', index_col=0).dropna(subset=['lab_name'])
set(aj_df['lab_name'])

{'ABGA_BE', 'ABGA_HCO3', 'ABGA_pCO2', 'ABGA_pH', 'ABGA_pO2'}

In [111]:
aj_df = pd.read_csv(aj_path + 'lab.csv', index_col=0).dropna(subset=['lab_name'])
snu_df = pd.read_csv(snu_path + 'lab.csv', index_col=0).dropna(subset=['lab_name'])
print('AJ vital-sign shape: ', aj_df.shape)
print('SNU vital-sign shape: ', snu_df.shape)

# 변수 포함되어 있으면 통일
aj_df.loc[aj_df.lab_name.str.contains('pH'), 'lab_name'] = 'pH'
aj_df.loc[aj_df.lab_name.str.contains('HCO3'), 'lab_name'] = 'HCO3'
aj_df.loc[aj_df.lab_name.str.contains('BE'), 'lab_name'] = 'BE'
aj_df.loc[aj_df.lab_name.str.contains('pCO2'), 'lab_name'] = 'pCO2'
aj_df.loc[aj_df.lab_name.str.contains('pO2'), 'lab_name'] = 'pO2'

snu_df.loc[snu_df.lab_name.str.contains('pH'), 'lab_name'] = 'pH'
snu_df.loc[snu_df.lab_name.str.contains('HCO3'), 'lab_name'] = 'HCO3'
snu_df.loc[snu_df.lab_name.str.contains('BE'), 'lab_name'] = 'BE'
snu_df.loc[snu_df.lab_name.str.contains('pCO2'), 'lab_name'] = 'pCO2'
snu_df.loc[snu_df.lab_name.str.contains('pO2'), 'lab_name'] = 'pO2'

AJ vital-sign shape:  (74992, 8)
SNU vital-sign shape:  (131237, 8)

In [112]:
aj_item = set(aj_df.lab_name)
snu_item = set(snu_df.lab_name)
print('***** item list *****')
print('AJ item keys: ', aj_item)
print('SNU item keys: ', snu_item)
print('')
print('***** Count *****')
print('AJ item keys: ', len(aj_item))
print('SNU item keys: ', len(snu_item))
print('')
print('***** Matched keys *****') # 공통된 변수 조회
matched_keys = aj_item & snu_item
matched_keys

***** item list *****
AJ item keys:  {'pH', 'BE', 'pO2', 'pCO2', 'HCO3'}
SNU item keys:  {'pH', 'BE', 'pO2', 'pCO2', 'HCO3'}

***** Count *****
AJ item keys:  5
SNU item keys:  5

***** Matched keys *****

{'BE', 'HCO3', 'pCO2', 'pH', 'pO2'}

In [113]:
inted_df = pd.concat([snu_df, aj_df], axis=0)
inted_df = inted_df[inted_df['lab_name'].isin(list(matched_keys))]
inted_df.to_csv(dst_path + 'lab.csv')
inted_df

,hospital_id,patient_id,hadm_id,lab_datetime,lab_code,lab_name,value,unit
0,1,2,1,2021-09-23 18:21,NaN,pH,7.38,NaN
1,1,2,1,2021-09-23 18:21,NaN,pCO2,38,mmHg
2,1,2,1,2021-09-23 18:21,NaN,pO2,81,mmHg
3,1,2,1,2021-09-23 18:21,NaN,HCO3,22.5,mmol/L
4,1,2,1,2021-09-23 18:21,NaN,BE,-2.4,mmol/L
...,...,...,...,...,...,...,...,...
30211,2,2_521,1,2022-04-08 04:22:26,C381501205,HCO3,22.2,mmol/L
30212,2,2_521,1,2022-04-08 08:27:07,C381501205,HCO3,23.5,mmol/L
30213,2,2_521,1,2022-04-08 20:04:44,C381501205,HCO3,27.6,mmol/L
30214,2,2_521,1,2022-04-09 04:07:21,C381501205,HCO3,24.9,mmol/L
30215,2,2_521,1,2022-04-10 03:50:24,C381501205,HCO3,27.5,mmol/L

* demographics

In [164]:
aj_df = pd.read_csv(aj_path + 'demographics.csv', index_col=0)
snu_df = pd.read_csv(snu_path + 'demographics.csv', index_col=0)
snu_df

,hospital_id,patient_id,hadm_id,sex,birth_date,hosp_adm_date,hosp_discharge_date,icu_adm_date,icu_discharge_date,icu_type,lastfu_datetime,death_datetime
0,1,2,1,1,1955-07-01,2021-08-02,2021-10-03,2021-08-02 12:10,2021-10-03 13:40,5,2021-10-03 10:52:00,2021-10-03 10:52:00
1,1,3,1,1,1953-02-01,2021-08-27,2021-09-13,2021-08-28 12:00,2021-09-13 13:00,1,2021-09-13 06:50:00,2021-09-13 06:50:00
2,1,4,1,1,1941-04-01,2021-09-07,2021-09-19,2021-09-07 18:02,2021-09-18 15:00,1,2021-09-19 01:19:00,2021-09-19-01:19
3,1,5,1,0,1979-06-01,2021-08-29,2021-11-13,2021-09-09 13:35,2021-10-07 17:24,2,2022-07-22 00:00:00,NaN
4,1,6,1,1,1947-04-01,2021-09-01,2021-09-28,2021-09-12 4:03,2021-09-23 15:10,1,2021-09-28 00:00:00,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
373,1,753,85,1,1972-05-10 00:00:00,2021-10-26 22:56:00,2021-11-16 12:08:00,2021-10-26 23:10:00,2021-11-01 14:15:00,3,2022-09-27 14:20:00,NaN
374,1,754,86,1,1967-08-13 00:00:00,2022-01-24 13:23:00,2022-02-10 12:07:00,2022-01-27 19:14:00,2022-01-30 14:00:00,3,2022-05-23 00:00:00,2022-05-23 00:00:00
375,1,755,87,0,1995-02-28 00:00:00,2022-05-11 17:45:00,2022-07-29 20:50:00,2022-07-22 09:10:00,2022-07-29 20:50:00,2,2022-07-29 19:06:00,2022-07-29 19:06:00
376,1,756,88,1,1961-03-25 00:00:00,2022-08-10 14:48:00,NaN,2022-08-24 15:40:00,2022-08-25 22:29:00,2,NaN,NaN
0,1,1,1,1,1992-05-01 00:00:00,2022-06-15 00:00:00,2022-06-26 00:00:00,2022-06-17 16:47:00,2022-06-20 19:10:00,2,2022-09-20 00:00:00,NaN

In [165]:
inted_df = pd.concat([snu_df, aj_df], axis=0)
inted_df.to_csv(dst_path + 'demographics.csv')
inted_df

,hospital_id,patient_id,hadm_id,sex,birth_date,hosp_adm_date,hosp_discharge_date,icu_adm_date,icu_discharge_date,icu_type,lastfu_datetime,death_datetime
0,1,2,1,1,1955-07-01,2021-08-02,2021-10-03,2021-08-02 12:10,2021-10-03 13:40,5,2021-10-03 10:52:00,2021-10-03 10:52:00
1,1,3,1,1,1953-02-01,2021-08-27,2021-09-13,2021-08-28 12:00,2021-09-13 13:00,1,2021-09-13 06:50:00,2021-09-13 06:50:00
2,1,4,1,1,1941-04-01,2021-09-07,2021-09-19,2021-09-07 18:02,2021-09-18 15:00,1,2021-09-19 01:19:00,2021-09-19-01:19
3,1,5,1,0,1979-06-01,2021-08-29,2021-11-13,2021-09-09 13:35,2021-10-07 17:24,2,2022-07-22 00:00:00,NaN
4,1,6,1,1,1947-04-01,2021-09-01,2021-09-28,2021-09-12 4:03,2021-09-23 15:10,1,2021-09-28 00:00:00,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
145,2,2_490,1,1,1946-12,2021-09-05 09:49:00,2021-09-28 22:46:12,2021-09-06 17:14:42,2021-09-28 21:27:00,2,NaN,2021-09-28 18:45:00
146,2,2_492,1,1,1992-03,2021-09-18 22:38:00,2021-12-03 11:03:05,2021-09-18 22:38:35,2021-10-16 16:13:00,2,NaN,NaN
147,2,2_497,1,1,1991-07,2021-10-21 03:15:00,2021-11-17 11:36:17,2021-10-21 03:15:28,2021-10-26 16:27:00,2,NaN,NaN
148,2,2_516,1,1,1955-12,2022-02-16 09:34:00,2022-03-18 11:18:31,2022-02-16 09:34:15,2022-03-18 11:36:00,2,NaN,NaN
149,2,2_521,1,1,1961-10,2022-03-21 19:48:00,2022-05-12 13:17:56,2022-03-31 13:12:09,2022-04-27 16:30:00,2,NaN,NaN

In [166]:
demo_df = inted_df

* diagnosis

In [167]:
aj_df = pd.read_csv(aj_path + 'diagnosis.csv', index_col=0).reset_index(drop=True)
snu_df = pd.read_csv(snu_path + 'diagnosis.csv', index_col=0).reset_index(drop=True).dropna(subset=['patient_id'])
snu_df['hospital_id'] = 1
aj_df

,hospital_id,patient_id,hadm_id,diagnosis_datetime,icd10,icd10_desc
0,2,2_001,1,2019-06-22 00:00:00,T06.8,Other specified injuries involving multiple bo...
1,2,2_001,1,2019-06-22 00:00:00,T00.9D,Multiple contusion NOS
2,2,2_001,1,2019-06-22 00:00:00,S22.490,"Multiple fracture of unspecufued ribs, closed"
3,2,2_001,1,2019-06-22 00:00:00,S06.50,"Traumatic subdural hemorrhage, without open in..."
4,2,2_001,1,2019-06-22 00:00:00,S06.20F,Traumatic intraventricular hemorrhage
...,...,...,...,...,...,...
6765,2,2_521,1,2022-03-21 19:48:00,S06.80E,Traumatic pneumocephalus
6766,2,2_521,1,2022-03-21 19:48:00,S06.90A,"Brain injury NOS, without open intracranial wound"
6767,2,2_521,1,2022-03-21 19:48:00,S12.90A,"Fracture of cervical spine NOS, part unspecifi..."
6768,2,2_521,1,2022-03-21 19:48:00,S27.30,Other injuries of lung without open wound into...
6769,2,2_521,1,2022-03-21 19:48:00,T06.8,Other specified injuries involving multiple bo...

In [173]:
inted_df = pd.concat([snu_df, aj_df], axis=0)
inted_df = inted_df[inted_df['patient_id'].isin(demo_df['patient_id'])]
inted_df.to_csv(dst_path + 'diagnosis.csv')
inted_df

,hospital_id,patient_id,hadm_id,diagnosis_datetime,icd10,icd10_desc
0,1,2.0,1.0,2021.8.19 0:00,N179,Acute kidney injury
1,1,2.0,1.0,2021.8.19 0:00,J80,Acute respiratory distress syndrome
2,1,2.0,1.0,2021.9.2 0:00,J982,Pneumomediastinum
3,1,2.0,1.0,2021.9.22 0:00,R572,Septic shock
4,1,2.0,1.0,2021.9.25 0:00,Z942,Lung transplant status
...,...,...,...,...,...,...
6765,2,2_521,1.0,2022-03-21 19:48:00,S06.80E,Traumatic pneumocephalus
6766,2,2_521,1.0,2022-03-21 19:48:00,S06.90A,"Brain injury NOS, without open intracranial wound"
6767,2,2_521,1.0,2022-03-21 19:48:00,S12.90A,"Fracture of cervical spine NOS, part unspecifi..."
6768,2,2_521,1.0,2022-03-21 19:48:00,S27.30,Other injuries of lung without open wound into...
6769,2,2_521,1.0,2022-03-21 19:48:00,T06.8,Other specified injuries involving multiple bo...

* drug

In [188]:
var = 'drug'

aj_df = pd.read_csv(aj_path + var + '.csv', index_col=0).dropna(subset=['drug_name']).reset_index(drop=True)
snu_df = pd.read_csv(snu_path + var + '.csv', index_col=0).dropna(subset=['drug_name']).reset_index(drop=True)
snu_df

,hospital_id,patient_id,hadm_id,drug_datetime,drug_code,drug_name,drug_dose,drug_unit
0,1,2,1,2021-09-23 18:00,NaN,Monitoring/Rate(Vasopressin),0.01,u/min
1,1,2,1,2021-09-23 18:00,NaN,Monitoring/Rate(remifentanil),0.04,mcg/kg/min
2,1,2,1,2021-09-23 18:00,NaN,Monitoring/Rate(Norepinephrine),2.0,mcg/min
3,1,2,1,2021-09-23 18:00,NaN,Monitoring/Rate(Dexmedetomidine),0.3,mcg/kg/hr
4,1,2,1,2021-09-24 3:00,NaN,Monitoring/Rate(Norepinephrine),3.0,mcg/min
...,...,...,...,...,...,...,...,...
18883,1,1,1,2022-06-17 13:05:00,NaN,Monitoring/Rate(Norepinephrine),0.05,mcg/kg/min
18884,1,1,1,2022-06-17 13:40:00,NaN,Monitoring/Rate(Norepinephrine),0.06,mcg/kg/min
18885,1,1,1,2022-06-17 14:30:00,NaN,Monitoring/Rate(Norepinephrine),0.07,mcg/kg/min
18886,1,1,1,2022-06-17 16:30:00,NaN,Monitoring/Rate(Norepinephrine),0.07,mcg/kg/min
18887,1,1,1,2022-06-17 16:47:00,NaN,Monitoring/Rate(Norepinephrine),0.0,mcg/kg/min

In [191]:
snu_df.loc[snu_df['drug_name'] == 'Monitoring/Rate(Propofol)', 'drug_name'] = 'Monitoring/Rate(propofol)'
snu_df.loc[snu_df['drug_name'] == 'Monitoring/Rate(Remifentanil)', 'drug_name'] = 'Monitoring/Rate(remifentanil)'

In [192]:
aj_item = set(aj_df.drug_name)
snu_item = set(snu_df.drug_name)
print('***** item list *****')
print('AJ item keys: ', aj_item)
print('SNU item keys: ', snu_item)
print('')
print('***** Count *****')
print('AJ item keys: ', len(aj_item))
print('SNU item keys: ', len(snu_item))
print('')
print('***** Matched keys *****') # 공통된 변수 조회
matched_keys = aj_item & snu_item
print(matched_keys)

print('***** Not Matched keys *****') # 공통된 변수 조회
not_matched_keys = (aj_item | snu_item) - (aj_item & snu_item)
print(not_matched_keys)

***** item list *****
AJ item keys:  {'Monitoring/Rate(Norepinephrine)', 'Monitoring/Rate(Dexmedetomidine)', 'Monitoring/Rate(Dopamine)', 'Monitoring/Rate(Vasopressin)', 'Monitoring/Rate(Morphine)', 'drug 이름', 'Monitoring/Rate(Midazolam)', 'Monitoring/Rate(Phenylephrine)', 'Monitoring/Rate(Dobutamine)', 'Monitoring/Rate(Ketamine)', 'Monitoring/Rate(remifentanil)', 'Monitoring/Rate(Epinephrine)', 'Monitoring/Rate(propofol)', 'Monitoring/Rate(Fentanyl)'}
SNU item keys:  {'Monitoring/Rate(Norepinephrine)', 'Monitoring/Rate(Vasopressin)', 'Monitoring/Rate(Dexmedetomidine)', 'Monitoring/Rate(Morphine)', 'Monitoring/Rate(Dopamine)', 'Monitoring/Rate(Midazolam)', 'Monitoring/Rate(Dobutamine)', 'Monitoring/Rate(remifentanil)', 'Monitoring/Rate(Epinephrine)', 'Monitoring/Rate(propofol)'}

***** Count *****
AJ item keys:  14
SNU item keys:  10

***** Matched keys *****
{'Monitoring/Rate(Norepinephrine)', 'Monitoring/Rate(Vasopressin)', 'Monitoring/Rate(Dopamine)', 'Monitoring/Rate(Morphine)', 'Monitoring/Rate(Dexmedetomidine)', 'Monitoring/Rate(propofol)', 'Monitoring/Rate(Midazolam)', 'Monitoring/Rate(remifentanil)', 'Monitoring/Rate(Epinephrine)', 'Monitoring/Rate(Dobutamine)'}
***** Not Matched keys *****
{'Monitoring/Rate(Ketamine)', 'Monitoring/Rate(Phenylephrine)', 'drug 이름', 'Monitoring/Rate(Fentanyl)'}

In [193]:
inted_df = pd.concat([snu_df, aj_df], axis=0)
inted_df = inted_df[inted_df['patient_id'].isin(demo_df['patient_id'])]
inted_df.to_csv(dst_path + 'drug.csv')
inted_df

,hospital_id,patient_id,hadm_id,drug_datetime,drug_code,drug_name,drug_dose,drug_unit,Unnamed: 8
0,1,2,1,2021-09-23 18:00,NaN,Monitoring/Rate(Vasopressin),0.01,u/min,NaN
1,1,2,1,2021-09-23 18:00,NaN,Monitoring/Rate(remifentanil),0.04,mcg/kg/min,NaN
2,1,2,1,2021-09-23 18:00,NaN,Monitoring/Rate(Norepinephrine),2.0,mcg/min,NaN
3,1,2,1,2021-09-23 18:00,NaN,Monitoring/Rate(Dexmedetomidine),0.3,mcg/kg/hr,NaN
4,1,2,1,2021-09-24 3:00,NaN,Monitoring/Rate(Norepinephrine),3.0,mcg/min,NaN
...,...,...,...,...,...,...,...,...,...
12063,2,2_521,1,2022-04-04 22:00:00,NaN,Monitoring/Rate(Fentanyl),0.866391185,mcg/hr/kg,NaN
12064,2,2_521,1,2022-04-07 22:00:00,NaN,Monitoring/Rate(Fentanyl),0.252525253,mcg/hr/kg,NaN
12065,2,2_521,1,2022-04-08 22:00:00,NaN,Monitoring/Rate(Fentanyl),0.252525253,mcg/hr/kg,NaN
12066,2,2_521,1,2022-04-09 22:00:00,NaN,Monitoring/Rate(Fentanyl),0.252525253,mcg/hr/kg,NaN
12067,2,2_521,1,2022-04-10 22:00:00,NaN,Monitoring/Rate(Fentanyl),0.0,mcg/hr/kg,NaN

* height and weight

In [200]:
var = 'heightandweight'

aj_df = pd.read_csv(aj_path + var + '.csv', index_col=0).dropna(subset=['value'])
aj_df.loc[aj_df['item']=='몸무게', 'item'] = 'weight'
aj_df.loc[aj_df['item']=='키', 'item'] = 'height'
snu_df = pd.read_csv(snu_path + var + '.csv', index_col=0).dropna(subset=['value'])
snu_df

    hospital_id  patient_id  hadm_id     measure_datetime    item  value unit
0             1           2        1     2021-08-02 13:35  height  165.0   cm
1             1           2        1      2021-09-23 8:00  weight   58.0   kg
2             1           2        1      2021-09-24 8:00  weight   58.0   kg
3             1           2        1      2021-09-25 8:00  weight   57.0   kg
4             1           2        1      2021-09-26 8:00  weight   55.0   kg
..          ...         ...      ...                  ...     ...    ...  ...
0             1           1        1  2022-06-15 17:00:00  height  181.0   cm
1             1           1        1  2022-06-17 16:47:00  weight   85.2   kg
2             1           1        1  2022-06-18 01:00:00  weight   85.1   kg
3             1           1        1  2022-06-18 17:00:00  weight   84.1   kg
4             1           1        1  2022-06-19 01:30:00  weight   83.7   kg

[5988 rows x 7 columns]

In [201]:
inted_df = pd.concat([snu_df, aj_df], axis=0)
inted_df = inted_df[inted_df['patient_id'].isin(demo_df['patient_id'])]
inted_df.to_csv(dst_path + 'heightandweight.csv')
inted_df

,hospital_id,patient_id,hadm_id,measure_datetime,item,value,unit,Unnamed: 7
0,1,2,1,2021-08-02 13:35,height,165.0,cm,NaN
1,1,2,1,2021-09-23 8:00,weight,58.0,kg,NaN
2,1,2,1,2021-09-24 8:00,weight,58.0,kg,NaN
3,1,2,1,2021-09-25 8:00,weight,57.0,kg,NaN
4,1,2,1,2021-09-26 8:00,weight,55.0,kg,NaN
...,...,...,...,...,...,...,...,...
1622,2,2_521,1,2022-04-24 06:00:00,weight,48.7,kg,NaN
1623,2,2_521,1,2022-04-25 00:00:00,weight,50.0,kg,NaN
1624,2,2_521,1,2022-04-26 00:00:00,weight,49.0,kg,NaN
1625,2,2_521,1,2022-04-27 00:00:00,weight,48.1,kg,NaN
1626,2,2_521,1,2022-03-21 22:21:00,height,170.0,cm,NaN

* ventilator_parameter

In [202]:
var = 'ventilator_parameter'

aj_df = pd.read_csv(aj_path + var + '.csv', index_col=0)
snu_df = pd.read_csv(snu_path + var + '.csv', index_col=0)
snu_df

,hospital_id,patient_id,hadm_id,mv_id,parameter,parameter_datetime,value,valuenum,unit
0,1.0,2,1,2,Respiratory management/Ventilator_FiO2(setting),2021.9.23 18:00,35,NaN,%
1,1.0,2,1,2,Respiratory management/Ventilator_PEEP(setting),2021.9.23 18:00,5,NaN,cmH2O
2,1.0,2,1,2,Respiratory management/Ventilator_Minute venti...,2021.9.23 18:00,7.8,NaN,L/min
3,1.0,2,1,2,Respiratory management/Ventilator_Meam airway ...,2021.9.23 18:00,8.1,NaN,cmH2O
4,1.0,2,1,2,Respiratory management/Ventilator_Peak inspira...,2021.9.23 18:00,19.4,NaN,cmH2O
...,...,...,...,...,...,...,...,...,...
148,1.0,1,1,snu_001,Respiratory management/Ventilator_PSV(setting),2022-06-17 19:00:00,5,NaN,cmH2O
149,1.0,1,1,snu_001,Respiratory management/Ventilator_Respiratory ...,2022-06-17 19:00:00,19.1,NaN,/min
150,1.0,1,1,snu_001,Respiratory management/Ventilator mode(setting),2022-06-17 19:00:00,PS/CPAP,NaN,NaN
151,1.0,1,1,snu_001,Respiratory management/Ventilator_Meam airway ...,2022-06-17 19:04:00,9.6,NaN,cmH2O
152,1.0,1,1,snu_001,Respiratory management/Ventilator_Respiratory ...,2022-06-17 19:04:00,19.6,NaN,/min

In [208]:
aj_item = set(aj_df.parameter)
snu_item = set(snu_df.parameter)
print('***** item list *****')
print('AJ item keys: ', aj_item)
print('SNU item keys: ', snu_item)
print('')
print('***** Count *****')
print('AJ item keys: ', len(aj_item))
print('SNU item keys: ', len(snu_item))
print('')
print('***** Matched keys *****') # 공통된 변수 조회
matched_keys = aj_item & snu_item
print(len(matched_keys), 'variables matched...')
print(matched_keys)

print('')
print('***** Not Matched keys *****') # 공통된 변수 조회
not_matched_keys = (aj_item | snu_item) - (aj_item & snu_item)
print(len(not_matched_keys), 'variables NOT matched...')
print(not_matched_keys)

***** item list *****
AJ item keys:  {'Respiratory management/Ventilator_Plateau Pressure(Pt)', 'Respiratory management/Ventilator_Inspiratory pressure(setting)', 'Respiratory management/Ventilator_ASV MV (%) (setting)', 'Respiratory management/Ventilator_PSV(setting)', 'Respiratory management/Ventilator_Minute ventilation(Pt)', 'Respiratory management/Ventilator_Tidal volume(Pt)', 'Respiratory management/Ventilator_I:E(setting)', 'Respiratory management/Ventilator_FiO2(setting)', 'Respiratory management/Ventilator_Respiratory rate(Pt)', 'Respiratory management/Ventilator_PEEP(setting)', 'Respiratory management/Ventilator_Respiratory rate(Setting)', 'Respiratory management/Ventilator_Meam airway pressure(Pt)', 'Respiratory management/Ventilator_Peak inspiratory pressure(Pt)', 'Respiratory management/Ventilator mode(setting)', 'Respiratory management/Ventilator_Tidal volume(setting)'}
SNU item keys:  {'Respiratory management/Ventilator_Trigger type(setting)', 'Respiratory management/Ventilator_Peak inspiratory pressure(setting)', 'Respiratory management/Airway_Tracheostomy (TT) size', 'Respiratory management/Ventilator_Respiratory rate(Pt)', 'Respiratory management/Ventilator_PEEP(setting)', 'Respiratory management/Ventilator_Respiratory rate(Setting)', 'Respiratory management/Ventilator mode(setting)', 'Respiratory management/Ventilator_Tidal volume(setting)', 'Respiratory management/Ventilator_Minute ventilation(setting)', 'Respiratory management/Ventilator_Plateau Pressure(Pt)', 'Respiratory management/Airway_Endotracheal tube (ET) size', 'Respiratory management/Ventilator_E-sens or EST (%)(setting)', 'Respiratory management/Ventilator_Minute ventilation(Pt)', 'Respiratory management/Ventilator_IPAP', 'Respiratory management/Ventilator_FiO2(setting)', 'Respiratory management/Ventilator_Peak inspiratory pressure(Pt)', 'Respiratory management/Ventilator_EPAP', 'Respiratory management/Ventilator_Inspiratory pressure(setting)', 'Respiratory management/Ventilator_PSV(setting)', 'Respiratory management/Ventilator_Tidal volume(Pt)', 'Respiratory management/Airway_Endotracheal tube (ET)', 'Respiratory management/Ventilator_Vidal volume(setting)', 'Respiratory management/Ventilator_Meam airway pressure(Pt)', 'Respiratory management/Ventilator_I:E(setting)'}

***** Count *****
AJ item keys:  15
SNU item keys:  24

***** Matched keys *****
14 variables matched...
{'Respiratory management/Ventilator_Plateau Pressure(Pt)', 'Respiratory management/Ventilator_Inspiratory pressure(setting)', 'Respiratory management/Ventilator_Minute ventilation(Pt)', 'Respiratory management/Ventilator_PSV(setting)', 'Respiratory management/Ventilator_Tidal volume(Pt)', 'Respiratory management/Ventilator_FiO2(setting)', 'Respiratory management/Ventilator_Respiratory rate(Pt)', 'Respiratory management/Ventilator_PEEP(setting)', 'Respiratory management/Ventilator mode(setting)', 'Respiratory management/Ventilator_Respiratory rate(Setting)', 'Respiratory management/Ventilator_Meam airway pressure(Pt)', 'Respiratory management/Ventilator_Peak inspiratory pressure(Pt)', 'Respiratory management/Ventilator_I:E(setting)', 'Respiratory management/Ventilator_Tidal volume(setting)'}

***** Not Matched keys *****
11 variables NOT matched...
{'Respiratory management/Ventilator_Trigger type(setting)', 'Respiratory management/Ventilator_EPAP', 'Respiratory management/Ventilator_ASV MV (%) (setting)', 'Respiratory management/Ventilator_IPAP', 'Respiratory management/Airway_Endotracheal tube (ET) size', 'Respiratory management/Airway_Endotracheal tube (ET)', 'Respiratory management/Ventilator_Peak inspiratory pressure(setting)', 'Respiratory management/Airway_Tracheostomy (TT) size', 'Respiratory management/Ventilator_Vidal volume(setting)', 'Respiratory management/Ventilator_E-sens or EST (%)(setting)', 'Respiratory management/Ventilator_Minute ventilation(setting)'}

In [210]:
inted_df = pd.concat([snu_df, aj_df], axis=0)
inted_df = inted_df[inted_df['parameter'].isin(list(matched_keys))]
inted_df = inted_df[inted_df['patient_id'].isin(demo_df['patient_id'])]
inted_df.to_csv(dst_path + 'ventilator_parameter.csv')
inted_df

,hospital_id,patient_id,hadm_id,mv_id,parameter,parameter_datetime,value,valuenum,unit
0,1.0,2,1,2,Respiratory management/Ventilator_FiO2(setting),2021.9.23 18:00,35,NaN,%
1,1.0,2,1,2,Respiratory management/Ventilator_PEEP(setting),2021.9.23 18:00,5,NaN,cmH2O
3,1.0,2,1,2,Respiratory management/Ventilator_Meam airway ...,2021.9.23 18:00,8.1,NaN,cmH2O
4,1.0,2,1,2,Respiratory management/Ventilator_Peak inspira...,2021.9.23 18:00,19.4,NaN,cmH2O
5,1.0,2,1,2,Respiratory management/Ventilator_Minute venti...,2021.9.23 18:00,7.6,NaN,L/min
...,...,...,...,...,...,...,...,...,...
35344041,2.0,2_530,1,2_530,Respiratory management/Ventilator_Meam airway ...,2021-11-04 12:43:00,16,NaN,cmH2O
35344042,2.0,2_530,1,2_530,Respiratory management/Ventilator_Peak inspira...,2021-11-04 12:43:00,32,NaN,cmH2O
35344043,2.0,2_530,1,2_530,Respiratory management/Ventilator_Tidal volume...,2021-11-04 12:43:00,0,NaN,L
35344044,2.0,2_530,1,2_530,Respiratory management/Ventilator_Minute venti...,2021-11-04 12:43:00,6,NaN,L/min
35344045,2.0,2_530,1,2_530,Respiratory management/Ventilator_Respiratory ...,2021-11-04 12:43:00,24,NaN,/min

* ventilator (meta-data)

In [212]:
var = 'ventilator'

aj_df = pd.read_csv(aj_path + var + '.csv', index_col=0)
snu_df = pd.read_csv(snu_path + var + '.csv', index_col=0)
aj_df

,hospital_id,patient_id,hadm_id,mv_id,ventilator_type,interface,intubation_time,tracheostomy_time,extubation_time,mv_starttime,mv_endtime,mv_wave_starttime,mv_wave_endtime,re_mv_status
0,2,2_001,1,aju_001,1,2,2019-04-15 21:00:00,NaN,NaN,2019-04-15 21:00:00,전원,2019-04-23 20:20:00,2019-05-02 14:50:00,0
1,2,2_002,1,aju_002,1,2,2019-04-15 21:00:00,NaN,NaN,2019-04-23 20:29:01,2019-05-02 15:56:00,2019-04-23 20:20:00,2019-05-02 15:00:00,0
2,2,2_003,1,aju_003,2,2,2019-04-25 14:43:00,NaN,2019-04-30 16:55:00,2019-04-30 10:57:01,2019-04-30 16:45:00,2019-04-25 14:30:00,2019-04-30 16:10:00,0
3,2,2_004,1,aju_004,2,2,2019-06-19 0:41:00,NaN,2019-06-25 12:40:00,2019-06-19 1:06:01,2019-06-25 7:07:01,2019-06-19 1:00:00,2019-06-24 14:00:00,0
4,2,2_006,1,aju_006,2,2,2019-04-21 23:41:00,NaN,NaN,2019-04-22 5:59:01,2019-05-04 11:47:01,2019-04-22 5:50:00,2019-05-04 23:50:00,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145,2,2_490,1,aju_490,2,2,2021-09-19 05:20:00,NaN,2021-09-28 19:45:00,2021-09-19 05:20:00,2021-09-28 19:45:00,2021-09-19 05:20:00,2021-09-28 19:00:00,1
146,2,2_492,1,aju_492,2,2,2021-09-18 22:50:00,2021-10-07 15:00:00,NaN,2021-09-18 22:50:00,2021-10-13 09:00:00,2021-09-19 08:00:00,2021-10-13 09:00:00,0
147,2,2_497,1,aju_497,2,2,2021-10-21 02:03:00,2021-10-21 17:40:00,NaN,2021-10-21 02:03:00,2021-10-23 14:10:00,2021-10-22 07:30:00,2021-10-23 13:50:00,0
148,2,2_516,1,aju_516,1,2,2022-02-20 11:30:00,NaN,2022-02-27 11:54:00,2022-02-20 11:30:00,2022-02-27 11:54:00,2022-02-20 11:30:00,2022-02-24 20:20:00,0
149,2,2_521,1,aju_521,1,2,2022-04-01 07:50:00,NaN,2022-04-08 07:05:00,2022-04-01 07:50:00,2022-04-08 07:05:00,2022-04-01 07:50:00,2022-04-07 19:10:00,1

In [215]:
inted_df = pd.concat([snu_df, aj_df], axis=0)
inted_df = inted_df[inted_df['patient_id'].isin(demo_df['patient_id'])]
inted_df.to_csv(dst_path + 'ventilator.csv')
inted_df

,hospital_id,patient_id,hadm_id,mv_id,csv_file_path,ventilator_type,interface,intubation_time,tracheostomy_time,extubation_time,mv_starttime,mv_endtime,mv_wave_starttime,mv_wave_endtime,re_mv_status
0,1,2,1,snu_002,cw_pm_data/22_AIHub_26-2(Cons)_wav(csv)/원천데이터/...,2,1,NaN,NaN,NaN,2021-09-23 18:00,2021-09-28 17:28,2021-09-23 17:58,2021-09-28 17:15,0
1,1,3,1,snu_003,cw_pm_data/22_AIHub_26-2(Cons)_wav(csv)/원천데이터/...,2,1,2021-08-28 12:25,NaN,2021-09-13 6:30,2021-08-28 12:35,2021-09-13 6:30,2021-08-28 12:23,2021-09-13 6:45,0
2,1,4,1,snu_004,cw_pm_data/22_AIHub_26-2(Cons)_wav(csv)/원천데이터/...,2,1,2021-09-07 11:46,NaN,2021-09-17 18:31,2021-09-07 11:46,2021-09-17 18:31,2021-09-14 10:18,2021-09-17 18:17,0
3,1,5,1,snu_005,cw_pm_data/22_AIHub_26-2(Cons)_wav(csv)/원천데이터/...,2,1,2021-09-09 13:56,2021-09-15 15:00,2021-09-15 15:00,2021-09-09 13:56,2021-10-01 13:46,2021-09-17 14:40,2021-10-01 1:42,0
4,1,6,1,snu_006,cw_pm_data/22_AIHub_26-2(Cons)_wav(csv)/원천데이터/...,2,1,2021-09-12 3:17,NaN,2021-09-23 10:49,2021-09-12 4:03,2021-09-23 10:49,2021-09-17 14:40,2021-09-23 10:49,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145,2,2_490,1,aju_490,NaN,2,2,2021-09-19 05:20:00,NaN,2021-09-28 19:45:00,2021-09-19 05:20:00,2021-09-28 19:45:00,2021-09-19 05:20:00,2021-09-28 19:00:00,1
146,2,2_492,1,aju_492,NaN,2,2,2021-09-18 22:50:00,2021-10-07 15:00:00,NaN,2021-09-18 22:50:00,2021-10-13 09:00:00,2021-09-19 08:00:00,2021-10-13 09:00:00,0
147,2,2_497,1,aju_497,NaN,2,2,2021-10-21 02:03:00,2021-10-21 17:40:00,NaN,2021-10-21 02:03:00,2021-10-23 14:10:00,2021-10-22 07:30:00,2021-10-23 13:50:00,0
148,2,2_516,1,aju_516,NaN,1,2,2022-02-20 11:30:00,NaN,2022-02-27 11:54:00,2022-02-20 11:30:00,2022-02-27 11:54:00,2022-02-20 11:30:00,2022-02-24 20:20:00,0
149,2,2_521,1,aju_521,NaN,1,2,2022-04-01 07:50:00,NaN,2022-04-08 07:05:00,2022-04-01 07:50:00,2022-04-08 07:05:00,2022-04-01 07:50:00,2022-04-07 19:10:00,1