# 유관데이터 전처리

* 서울대 대상환자 : 755 명
* 아주대 대상환자 : 482 명
* 연세대 대상환자 : 275 명

* 합계 : 1,512 명

# 서울대

In [2]:
import pandas as pd, numpy as np
import os, tqdm, warnings
import datetime as dt

from time import time
from timeit import default_timer as timer
from pytz import timezone

warnings.filterwarnings('ignore')

# Timer
start = timer()

# set path
SNU_path = '/VOLUME/nia_vent_weaning/raw_data/SNU/'
dst_path =  '/VOLUME/nia_vent_weaning/data/SNU/'
# set variables
var_list = ['demographics', 'diagnosis', 'drug', 'heightandweight', 'lab', 'ventilator', 'ventilator_parameter', 'vitalsign']
# Directory list in SNU folder
dir_list = os.listdir(SNU_path)     # ['1-002~1-021', '1-090~1-379', '1-022~1-089', '1-380~1-756']
dir_list.remove('.DS_Store')

for v in var_list:
    globals()['{}'.format(v)] = pd.DataFrame()  # define empty dataFrame
    

for idx in tqdm.tqdm(range(len(dir_list))):
    
    final_path = SNU_path + dir_list[idx] + '/'

    for f_n in os.listdir(final_path):

        if f_n != '.DS_Store':
            var = f_n.split('.')[0]

            if f_n[-3:] == 'csv':
                tmp_df = pd.read_csv(final_path + f_n, encoding='cp949')

            elif f_n[-4:] == 'xlsx':
                tmp_df = pd.read_excel(final_path + f_n)

            globals()['{}'.format(var)] = pd.concat([globals()['{}'.format(var)], tmp_df])  # define empty dataFrame

for v in var_list:
    globals()['{}'.format(v)].to_csv(dst_path + v + '.csv')


end = timer()
print('Code Execution Finished at ', dt.datetime.now(timezone('Asia/Seoul')), '\tTime elapsed: ', dt.timedelta(seconds=end-start), 'seconds')

100%|██████████| 4/4 [03:24<00:00, 51.15s/it]

Code Execution Finished at  2022-11-04 15:24:02.411726+09:00 	Time elapsed:  0:03:33.135148 seconds

* File Check

In [140]:
path = '/VOLUME/nia_vent_weaning/data/SNU/'
var_list = ['demographics', 'diagnosis', 'drug', 'heightandweight', 'lab', 'ventilator', 'ventilator_parameter', 'vitalsign']
idx = 6

df = pd.read_csv(path + var_list[idx] + '.csv', index_col=0)
df

,hospital_id,patient_id,hadm_id,mv_id,parameter,parameter_datetime,value,valuenum,unit
0,1.0,2,1,2,Respiratory management/Ventilator_FiO2(setting),2021.9.23 18:00,35,NaN,%
1,1.0,2,1,2,Respiratory management/Ventilator_PEEP(setting),2021.9.23 18:00,5,NaN,cmH2O
2,1.0,2,1,2,Respiratory management/Ventilator_Minute venti...,2021.9.23 18:00,7.8,NaN,L/min
3,1.0,2,1,2,Respiratory management/Ventilator_Meam airway ...,2021.9.23 18:00,8.1,NaN,cmH2O
4,1.0,2,1,2,Respiratory management/Ventilator_Peak inspira...,2021.9.23 18:00,19.4,NaN,cmH2O
...,...,...,...,...,...,...,...,...,...
450325,NaN,756,1,snu-756,Respiratory management/Ventilator_Peak inspira...,2022-08-26 12:30:00,20.8,,cmH2O
450326,NaN,756,1,snu-756,Respiratory management/Ventilator_PEEP(setting),2022-08-26 12:30:00,8,,cmH2O
450327,NaN,756,1,snu-756,Respiratory management/Ventilator_PSV(setting),2022-08-26 12:30:00,10,,cmH2O
450328,NaN,756,1,snu-756,Respiratory management/Ventilator_Respiratory ...,2022-08-26 12:30:00,14,,/min
450329,NaN,756,1,snu-756,Respiratory management/Ventilator_Tidal volume...,2022-08-26 12:30:00,497,,ml

In [141]:
df[df['patient_id']==7]

,hospital_id,patient_id,hadm_id,mv_id,parameter,parameter_datetime,value,valuenum,unit
23609,NaN,7,1,7,Respiratory management/Ventilator_I:E(setting),2021.9.13 11:26,1:02,NaN,NaN
23610,NaN,7,1,7,Respiratory management/Ventilator_Trigger type...,2021.9.13 11:26,flow,NaN,NaN
23611,NaN,7,1,7,Respiratory management/Ventilator mode(setting),2021.9.13 11:26,PC-CMV,NaN,NaN
23612,NaN,7,1,7,Respiratory management/Ventilator_E-sens or ES...,2021.9.13 11:26,2,NaN,NaN
23613,NaN,7,1,7,Respiratory management/Ventilator_Respiratory ...,2021.9.13 11:28,20,NaN,/min
...,...,...,...,...,...,...,...,...,...
25333,NaN,7,1,7,Respiratory management/Ventilator_Peak inspira...,2021.9.18 14:00,7.6,NaN,cmH2O
25334,NaN,7,1,7,Respiratory management/Ventilator_Minute venti...,2021.9.18 14:00,7.4,NaN,ml
25335,NaN,7,1,7,Respiratory management/Ventilator_PSV(setting),2021.9.18 14:00,0,NaN,cmH2O
25336,NaN,7,1,7,Respiratory management/Ventilator mode(setting),2021.9.18 14:00,CPAP/PSV,NaN,NaN
25337,NaN,7,1,7,Respiratory management/Ventilator_Tidal volume...,2021.9.18 14:00,528,NaN,ml

In [142]:
print('Weaning Success patients: ', len(ventilator[ventilator['re_mv_status']==0]))
print('Weaning Fail patients: ', len(ventilator[ventilator['re_mv_status']==1]))

Weaning Success patients:  703
Weaning Fail patients:  52

# 아주대

In [88]:
df = pd.read_csv('/VOLUME/nia_vent_weaning/raw_data/AJU/1cycle/lab.csv')
df

,hospital_id,patient_id,hadm_id,lab_datetime,lab_code,lab_name,value,unit
0,2,2_001,1,2019-06-22 11:40:00,C381501201,ABGA_pH,7.4,NaN
1,2,2_001,1,2019-06-22 11:40:00,C381501202,ABGA_pCO2,19.9,mmHg
2,2,2_001,1,2019-06-22 11:40:00,C381501203,ABGA_pO2,98.8,mmHg
3,2,2_001,1,2019-06-22 11:40:00,C381501204,ABGA_BE,-9.5,mmol/L
4,2,2_001,1,2019-06-22 11:40:00,C381501205,ABGA_HCO3,12.4,mmol/L
...,...,...,...,...,...,...,...,...
18002,2,2_252,1,2019-05-25 17:46:40,C381501205,ABGA_HCO3,25.2,mmol/L
18003,2,2_252,1,2019-05-26 04:36:09,C381501205,ABGA_HCO3,26.2,mmol/L
18004,2,2_252,1,2019-05-26 14:00:39,C381501205,ABGA_HCO3,21.5,mmol/L
18005,2,2_252,1,2019-05-26 21:32:32,C381501205,ABGA_HCO3,21.1,mmol/L
18006,2,2_252,1,2019-05-27 04:43:15,C381501205,ABGA_HCO3,23.9,mmol/L

In [89]:
import pandas as pd, numpy as np
import os, tqdm, warnings
import datetime as dt

from time import time
from timeit import default_timer as timer
from pytz import timezone

warnings.filterwarnings('ignore')

# Timer
start = timer()

# set path
AJ_path = '/VOLUME/nia_vent_weaning/raw_data/AJU/'
dst_path =  '/VOLUME/nia_vent_weaning/data/AJ/'
# set variables
var_list = ['demographics', 'diagnosis', 'drug', 'heightandweight', 'lab', 'ventilator', 'ventilator_parameter', 'vitalsign']
# Directory list in SNU folder
dir_list = os.listdir(AJ_path)     # ['1-002~1-021', '1-090~1-379', '1-022~1-089', '1-380~1-756']
dir_list.remove('.DS_Store')
dir_list.remove('ventilator_parameter_1.csv')
dir_list.remove('ventilator_parameter_2.csv')

for v in var_list:
    globals()['{}'.format(v)] = pd.DataFrame()  # define empty dataFrame
    

for idx in tqdm.tqdm(range(len(dir_list))):
    
    final_path = AJ_path + dir_list[idx] + '/'

    for f_n in os.listdir(final_path):

        if f_n != '.DS_Store':
            var = f_n.split('.')[0]

            if f_n[-3:] == 'csv':
                try:
                    tmp_df = pd.read_csv(final_path + f_n)

                except:
                    
                    try: 
                        tmp_df = pd.read_csv(final_path + f_n, encoding='cp949')
                    except:
                        tmp_df = pd.read_csv(final_path + f_n, encoding='utf-8')

            elif f_n[-4:] == 'xlsx':
                tmp_df = pd.read_excel(final_path + f_n)

            globals()['{}'.format(var)] = pd.concat([globals()['{}'.format(var)], tmp_df])  # define empty dataFrame

for v in var_list:
    globals()['{}'.format(v)].to_csv(dst_path + v + '.csv')


end = timer()
print('Code Execution Finished at ', dt.datetime.now(timezone('Asia/Seoul')), '\tTime elapsed: ', dt.timedelta(seconds=end-start), 'seconds')

100%|██████████| 3/3 [00:01<00:00,  2.19it/s]

Code Execution Finished at  2022-11-04 17:27:24.089382+09:00 	Time elapsed:  0:00:05.556052 seconds

* File Check

In [90]:
path = '/VOLUME/nia_vent_weaning/data/AJ/'
var_list = ['demographics', 'diagnosis', 'drug', 'heightandweight', 'lab', 'ventilator', 'ventilator_parameter', 'vitalsign']
idx = 4

df = pd.read_csv(path + var_list[idx] + '.csv', index_col=0)
df

,hospital_id,patient_id,hadm_id,lab_datetime,lab_code,lab_name,value,unit
0,2,2_001,1,2019-06-22 11:40:00,C381501201,ABGA_pH,7.4,NaN
1,2,2_001,1,2019-06-22 11:40:00,C381501202,ABGA_pCO2,19.9,mmHg
2,2,2_001,1,2019-06-22 11:40:00,C381501203,ABGA_pO2,98.8,mmHg
3,2,2_001,1,2019-06-22 11:40:00,C381501204,ABGA_BE,-9.5,mmol/L
4,2,2_001,1,2019-06-22 11:40:00,C381501205,ABGA_HCO3,12.4,mmol/L
...,...,...,...,...,...,...,...,...
30211,2,2_521,1,2022-04-08 04:22:26,C381501205,ABGA_HCO3,22.2,mmol/L
30212,2,2_521,1,2022-04-08 08:27:07,C381501205,ABGA_HCO3,23.5,mmol/L
30213,2,2_521,1,2022-04-08 20:04:44,C381501205,ABGA_HCO3,27.6,mmol/L
30214,2,2_521,1,2022-04-09 04:07:21,C381501205,ABGA_HCO3,24.9,mmol/L
30215,2,2_521,1,2022-04-10 03:50:24,C381501205,ABGA_HCO3,27.5,mmol/L

In [91]:
ventilator = pd.read_csv('/VOLUME/nia_vent_weaning/data/AJ/ventilator.csv', index_col=0)

print('Weaning Success patients: ', len(ventilator[ventilator['re_mv_status']==0]))
print('Weaning Fail patients: ', len(ventilator[ventilator['re_mv_status']==1]))

Weaning Success patients:  396
Weaning Fail patients:  86

* Integrating Ventilator Data

In [92]:
emr_vent_df = pd.read_csv('/VOLUME/nia_vent_weaning/data/AJ/ventilator_parameter.csv')
emr_vent_df = pd.read_csv('/VOLUME/nia_vent_weaning/data/AJ/ventilator_parameter.csv')
col_list = list(emr_vent_df.keys())

vent_df1 = pd.read_csv('/VOLUME/nia_vent_weaning/raw_data/AJU/ventilator_parameter_1.csv')
vent_df1.columns = col_list
vent_df2 = pd.read_csv('/VOLUME/nia_vent_weaning/raw_data/AJU/ventilator_parameter_2.csv')
vent_df2.columns = col_list
vent_df1.head()

ValueError: Length mismatch: Expected axis has 9 elements, new values have 19 elements

In [ ]:
print('EMR File: ', emr_vent_df.shape)
print('Vent 1 File: ', vent_df1.shape)
print('Vent 2 File: ', vent_df2.shape)

EMR File:  (89109, 9)
Vent 1 File:  (10993345, 9)
Vent 2 File:  (35344046, 9)

In [ ]:
final_vent_df = pd.concat([emr_vent_df, vent_df1, vent_df2], axis=0)
vent_plist = list(set(ventilator['patient_id']))
final_vent_df = final_vent_df[final_vent_df['patient_id'].isin(vent_plist)]
print(final_vent_df.shape)
final_vent_df.head()

(28880391, 9)

,hospital_id,patient_id,hadm_id,mv_id,parameter,parameter_datetime,value,valuenum,unit
0,2,2_001,1,aju_001,Respiratory management/Ventilator mode(setting),2019.4.15 22:58,APV SIMV,NaN,NaN
1,2,2_001,1,aju_001,Respiratory management/Ventilator mode(setting),2019.4.16 8:00,APV SIMV,NaN,NaN
2,2,2_001,1,aju_001,Respiratory management/Ventilator mode(setting),2019.4.16 15:00,APV SIMV,NaN,NaN
3,2,2_001,1,aju_001,Respiratory management/Ventilator mode(setting),2019.4.16 22:00,APV SIMV,NaN,NaN
4,2,2_001,1,aju_001,Respiratory management/Ventilator mode(setting),2019.4.17 7:00,APV SIMV,NaN,NaN

In [ ]:
# reduce memory ... (2.2 GB --> 1.6 GB)
import gc 

def reduce_memory_usage(df, verbose=True):
    numerics = ["int8", "int16", "int32", "int64", "float16", "float32", "float64"]
    start_mem = df.memory_usage().sum() / 1024 ** 2
    for col in df.columns:
        col_type = df[col].dtypes
        if col_type in numerics:
            c_min = df[col].min()
            c_max = df[col].max()
            if str(col_type)[:3] == "int":
                if c_min > np.iinfo(np.int8).min and c_max < np.iinfo(np.int8).max:
                    df[col] = df[col].astype(np.int8)
                elif c_min > np.iinfo(np.int16).min and c_max < np.iinfo(np.int16).max:
                    df[col] = df[col].astype(np.int16)
                elif c_min > np.iinfo(np.int32).min and c_max < np.iinfo(np.int32).max:
                    df[col] = df[col].astype(np.int32)
                elif c_min > np.iinfo(np.int64).min and c_max < np.iinfo(np.int64).max:
                    df[col] = df[col].astype(np.int64)
            else:
                if (
                    c_min > np.finfo(np.float16).min
                    and c_max < np.finfo(np.float16).max
                ):
                    df[col] = df[col].astype(np.float16)
                elif (
                    c_min > np.finfo(np.float32).min
                    and c_max < np.finfo(np.float32).max
                ):
                    df[col] = df[col].astype(np.float32)
                else:
                    df[col] = df[col].astype(np.float64)
    end_mem = df.memory_usage().sum() / 1024 ** 2
    if verbose:
        print(
            "Mem. usage decreased to {:.2f} Mb ({:.1f}% reduction)".format(
                end_mem, 100 * (start_mem - end_mem) / start_mem
            )
        )
    return df


final_vent_df2 = reduce_memory_usage(final_vent_df)
final_vent_df2.to_csv('/VOLUME/nia_vent_weaning/data/AJ/ventilator_parameter_final.csv')
final_vent_df2.info()

Mem. usage decreased to 1652.55 Mb (25.0% reduction)
<class 'pandas.core.frame.DataFrame'>
Int64Index: 28880391 entries, 0 to 35344045
Data columns (total 9 columns):
 #   Column              Dtype
---  ------              -----
 0   hospital_id         int8
 1   patient_id          object
 2   hadm_id             int8
 3   mv_id               object
 4   parameter           object
 5   parameter_datetime  object
 6   value               object
 7   valuenum            float16
 8   unit                object
dtypes: float16(1), int8(2), object(6)
memory usage: 1.6+ GB

# 변수비교

* vital-sign
* lab
* ventilator parameter
* drug
* heightandweight

In [4]:
import pandas as pd

# set path
aj_path = '/VOLUME/nia_vent_weaning/data/AJ/'
snu_path = '/VOLUME/nia_vent_weaning/data/SNU/'
# ys_path = ''
dst_path = '/VOLUME/nia_vent_weaning/data/integrated_data/'

* Vital-Sign

In [5]:
vital_aj = pd.read_csv(aj_path + 'vitalsign.csv', index_col=0)
vital_snu = pd.read_csv(snu_path + 'vitalsign.csv', index_col=0)
print('AJ vital-sign shape: ', vital_aj.shape)
print('SNU vital-sign shape: ', vital_snu.shape)

AJ vital-sign shape:  (1183003, 7)
SNU vital-sign shape:  (1352813, 7)

In [6]:
aj_item = set(vital_aj.item)
snu_item = set(vital_snu.item)
print('***** item list *****')
print('AJ item keys: ', aj_item)
print('SNU item keys: ', snu_item)
print('')
print('***** Count *****')
print('AJ item keys: ', len(aj_item))
print('SNU item keys: ', len(snu_item))
print('')
print('***** Matched keys *****') # 공통된 변수 조회
matched_keys = aj_item & snu_item
matched_keys

***** item list *****
AJ item keys:  {'DBP (radial a-line)', 'RR', 'SBP (radial a-line)', 'SBP (NIBP)', 'SpO2', 'DBP (NIBP)', 'MBP (radial a-line)', 'HR', 'BT', 'MAP (NIBP)'}
SNU item keys:  {'DBP (a-line)', 'DBP (radial a-line)', 'MBP (NIBP)', 'RR', 'SBP (radial a-line)', 'SBP (a-line)', 'SBP (NIBP)', 'MBP (a-line)', 'SpO2', 'DBP (NIBP)', 'HR', 'MBP (radial a-line)', 'BT'}

***** Count *****
AJ item keys:  10
SNU item keys:  13

***** Matched keys *****

{'BT',
 'DBP (NIBP)',
 'DBP (radial a-line)',
 'HR',
 'MBP (radial a-line)',
 'RR',
 'SBP (NIBP)',
 'SBP (radial a-line)',
 'SpO2'}

In [7]:
inted_vital = pd.concat([vital_aj, vital_snu], axis=0)
inted_vital = inted_vital[inted_vital['item'].isin(list(matched_keys))]
inted_vital

,hospital_id,patient_id,hadm_id,vital_datetime,item,value,unit
0,2,2_001,1,2019-04-15 22:58:00,SBP (radial a-line),150.0,mmHg
1,2,2_001,1,2019-04-15 22:58:00,DBP (radial a-line),77.0,mmHg
2,2,2_001,1,2019-04-15 22:58:00,MBP (radial a-line),98.0,mmHg
3,2,2_001,1,2019-04-15 22:58:00,SBP (NIBP),161.0,mmHg
4,2,2_001,1,2019-04-15 22:58:00,DBP (NIBP),125.0,mmHg
...,...,...,...,...,...,...,...
584334,1,756,1,2022-08-28 09:00:00,HR,85.0,bpm
584336,1,756,1,2022-08-28 09:00:00,MBP (radial a-line),82.0,mmHg
584337,1,756,1,2022-08-28 09:00:00,SBP (NIBP),111.0,mmHg
584338,1,756,1,2022-08-28 09:00:00,SBP (radial a-line),84.0,mmHg
584339,1,756,1,2022-08-28 09:00:00,SpO2,97.0,%

* LAB results

In [114]:
aj_df = pd.read_csv(aj_path + 'lab.csv', index_col=0).dropna(subset=['lab_name'])
snu_df = pd.read_csv(snu_path + 'lab.csv', index_col=0).dropna(subset=['lab_name'])
set(aj_df['lab_name'])

{'ABGA_BE', 'ABGA_HCO3', 'ABGA_pCO2', 'ABGA_pH', 'ABGA_pO2'}

In [115]:
aj_df = pd.read_csv(aj_path + 'lab.csv', index_col=0).dropna(subset=['lab_name'])
snu_df = pd.read_csv(snu_path + 'lab.csv', index_col=0).dropna(subset=['lab_name'])
print('AJ vital-sign shape: ', aj_df.shape)
print('SNU vital-sign shape: ', snu_df.shape)

# 변수 포함되어 있으면 통일
aj_df.loc[aj_df.lab_name.str.contains('pH'), 'lab_name'] = 'pH'
aj_df.loc[aj_df.lab_name.str.contains('HCO3'), 'lab_name'] = 'HCO3'
aj_df.loc[aj_df.lab_name.str.contains('BE'), 'lab_name'] = 'BE'
aj_df.loc[aj_df.lab_name.str.contains('pCO2'), 'lab_name'] = 'pCO2'
aj_df.loc[aj_df.lab_name.str.contains('pO2'), 'lab_name'] = 'pO2'

snu_df.loc[snu_df.lab_name.str.contains('pH'), 'lab_name'] = 'pH'
snu_df.loc[snu_df.lab_name.str.contains('HCO3'), 'lab_name'] = 'HCO3'
snu_df.loc[snu_df.lab_name.str.contains('BE'), 'lab_name'] = 'BE'
snu_df.loc[snu_df.lab_name.str.contains('pCO2'), 'lab_name'] = 'pCO2'
snu_df.loc[snu_df.lab_name.str.contains('pO2'), 'lab_name'] = 'pO2'

AJ vital-sign shape:  (74992, 8)
SNU vital-sign shape:  (131152, 8)

In [116]:
aj_item = set(aj_df.lab_name)
snu_item = set(snu_df.lab_name)
print('***** item list *****')
print('AJ item keys: ', aj_item)
print('SNU item keys: ', snu_item)
print('')
print('***** Count *****')
print('AJ item keys: ', len(aj_item))
print('SNU item keys: ', len(snu_item))
print('')
print('***** Matched keys *****') # 공통된 변수 조회
matched_keys = aj_item & snu_item
matched_keys

***** item list *****
AJ item keys:  {'BE', 'pO2', 'pCO2', 'pH', 'HCO3'}
SNU item keys:  {'BE', 'pO2', 'pCO2', 'pH', 'HCO3'}

***** Count *****
AJ item keys:  5
SNU item keys:  5

***** Matched keys *****

{'BE', 'HCO3', 'pCO2', 'pH', 'pO2'}

In [119]:
inted_df = pd.concat([aj_df, aj_df], axis=0)
inted_df = inted_df[inted_df['lab_name'].isin(list(matched_keys))]
inted_df

,hospital_id,patient_id,hadm_id,lab_datetime,lab_code,lab_name,value,unit
0,2,2_001,1,2019-06-22 11:40:00,C381501201,pH,7.4,NaN
1,2,2_001,1,2019-06-22 11:40:00,C381501202,pCO2,19.9,mmHg
2,2,2_001,1,2019-06-22 11:40:00,C381501203,pO2,98.8,mmHg
3,2,2_001,1,2019-06-22 11:40:00,C381501204,BE,-9.5,mmol/L
4,2,2_001,1,2019-06-22 11:40:00,C381501205,HCO3,12.4,mmol/L
...,...,...,...,...,...,...,...,...
30211,2,2_521,1,2022-04-08 04:22:26,C381501205,HCO3,22.2,mmol/L
30212,2,2_521,1,2022-04-08 08:27:07,C381501205,HCO3,23.5,mmol/L
30213,2,2_521,1,2022-04-08 20:04:44,C381501205,HCO3,27.6,mmol/L
30214,2,2_521,1,2022-04-09 04:07:21,C381501205,HCO3,24.9,mmol/L
30215,2,2_521,1,2022-04-10 03:50:24,C381501205,HCO3,27.5,mmol/L