# Check Data & Label

In [1]:
import pandas as pd, os, tqdm, warnings
import numpy as np

warnings.filterwarnings('ignore')

'''
    * 모든환자 데이터 다 붙여서 한 파일로 만들기 
    
        (1) dir1 : 1-002~1-021 (csv file format)

        (2) dir2 : 1-022~1-089 (Excel file format)

        (3) File List

            a. 라벨파일(Ventilator)
            b. Demographics
            c. Diagnosis
            d. Drug
            e. Heightandweight
            f. Lab
            g. Ventilator-parameter
            h. Vitalsign

'''

'\n    * 모든환자 데이터 다 붙여서 한 파일로 만들기 \n    \n        (1) dir1 : 1-002~1-021 (csv file format)\n\n        (2) dir2 : 1-022~1-089 (Excel file format)\n\n        (3) File List\n\n            a. 라벨파일(Ventilator)\n            b. Demographics\n            c. Diagnosis\n            d. Drug\n            e. Heightandweight\n            f. Lab\n            g. Ventilator-parameter\n            h. Vitalsign\n\n'

# 서울대 데이터

* Label File (Weaning Success 여부 및 시점)

In [2]:
# Set file path
SNU_path = '/VOLUME/nia_vent_weaning/raw_data/서울대/'
dst_path = '/VOLUME/nia_vent_weaning/dataset/SNU/'
dir1 = '1-002~1-021'
dir2 = '1-022~1-089'

df1 = pd.read_csv(SNU_path + dir1 + '/Ventilator.csv', encoding='cp949')
df2 = pd.read_excel(SNU_path + dir2 + '/Ventilator.xlsx')

In [3]:
# 2~21 patients
df1.head()

,hospital_id,patient_id,hadm_id,mv_id,csv_file_path,ventilator_type,interface,intubation_time,tracheostomy_time,extubation_time,mv_starttime,mv_endtime,mv_wave_starttime,mv_wave_endtime,re_mv_status
0,1,2,1,snu_002,cw_pm_data/22_AIHub_26-2(Cons)_wav(csv)/원천데이터/...,2,1,NaN,NaN,NaN,2021-09-23 18:00,2021-09-28 17:28,2021-09-23 17:58,2021-09-28 17:15,0
1,1,3,1,snu_003,cw_pm_data/22_AIHub_26-2(Cons)_wav(csv)/원천데이터/...,2,1,2021-08-28 12:25,NaN,2021-09-13 6:30,2021-08-28 12:35,2021-09-13 6:30,2021-08-28 12:23,2021-09-13 6:45,0
2,1,4,1,snu_004,cw_pm_data/22_AIHub_26-2(Cons)_wav(csv)/원천데이터/...,2,1,2021-09-07 11:46,NaN,2021-09-17 18:31,2021-09-07 11:46,2021-09-17 18:31,2021-09-14 10:18,2021-09-17 18:17,0
3,1,5,1,snu_005,cw_pm_data/22_AIHub_26-2(Cons)_wav(csv)/원천데이터/...,2,1,2021-09-09 13:56,2021-09-15 15:00,2021-09-15 15:00,2021-09-09 13:56,2021-10-01 13:46,2021-09-17 14:40,2021-10-01 1:42,0
4,1,6,1,snu_006,cw_pm_data/22_AIHub_26-2(Cons)_wav(csv)/원천데이터/...,2,1,2021-09-12 3:17,NaN,2021-09-23 10:49,2021-09-12 4:03,2021-09-23 10:49,2021-09-17 14:40,2021-09-23 10:49,0

In [4]:
# 22~89 patients
df2.head()

,hospital_id,patient_id,hadm_id,mv_id,csv_file_path,ventilator_type,interface,intubation_time,tracheostomy_time,extubation_time,mv_starttime,mv_endtime,mv_wave_starttime,mv_wave_endtime,re_mv_status
0,1,22,1,SNU_022,cw_pm_data/22_AIHub_26-2(Cons)_wav(csv)/원천데이터/...,2,1,2021-10-05 13:45:00,NaT,2021-10-08 13:56:00,2021-10-05 13:45:00,2021-10-08 13:56:00,2021-10-07 12:26:46,2021-10-08 13:57:34,0
1,1,23,1,SNU_023,cw_pm_data/22_AIHub_26-2(Cons)_wav(csv)/원천데이터/...,2,1,2021-10-07 13:18:00,2021-10-08 14:19:00,NaT,2021-10-07 13:18:00,2021-10-10 10:07:00,2021-10-07 13:17:56,2021-10-10 10:07:04,0
2,1,24,1,SNU_024,cw_pm_data/22_AIHub_26-2(Cons)_wav(csv)/원천데이터/...,2,1,2021-10-09 10:08:00,2021-10-19 11:20:00,NaT,2021-10-09 11:15:00,2021-10-25 08:44:00,2021-10-09 11:14:12,2021-10-25 08:44:00,0
3,1,25,1,SNU_025,cw_pm_data/22_AIHub_26-2(Cons)_wav(csv)/원천데이터/...,2,1,2021-10-11 11:04:00,2021-10-19 11:50:00,NaT,2021-10-11 11:04:00,2021-11-03 13:46:00,2021-10-12 12:13:46,2021-11-03 13:46:00,0
4,1,26,1,SNU_026,cw_pm_data/22_AIHub_26-2(Cons)_wav(csv)/원천데이터/...,2,1,2021-10-05 20:09:00,NaT,2021-10-21 09:42:00,2021-10-11 14:03:00,2021-10-21 09:42:00,2021-10-12 12:15:45,2021-10-21 09:42:00,0

In [27]:
label_df = pd.concat([df1, df2], axis=0)
label_df.to_csv(dst_path + 'label.csv')

* Input data File

In [201]:
# 서울대 데이터 중, Ventilator-parameter 변수 컬럼이 이상하게 되어있어서 수정하는 코드임.
SNU_path = '/VOLUME/nia_vent_weaning/raw_data/서울대/'
dst_path = '/VOLUME/nia_vent_weaning/dataset/SNU/'

dir1 = '1-002~1-021/'
dir2 = '1-022~1-089/'

tmp_df = pd.read_csv(SNU_path + dir1 + 'Ventilator-parameter.csv', encoding='cp949')
tmp_df['hospital_id'] = 1 # 서울대 기관번호는 1
tmp_df2 = pd.read_excel(SNU_path + dir2 + 'Ventilator-parameter.xlsx')

tmp_df = tmp_df.dropna(subset=['parameter'])    # 값 없는 경우 drop
tmp_df = tmp_df[list(tmp_df2.keys())]             # tmp2 key 순서와 동일하게 맞추기
tmp_df

result_df = pd.concat([tmp_df, tmp_df2], axis=0)
result_df.to_csv(dst_path + 'Ventilator-parameter.csv')
result_df

,hospital_id,patient_id,hadm_id,mv_id,parameter,parameter_datetime,value,valuenum,unit
0,1,1.0,2.0,1.0,Respiratory management/Ventilator_FiO2(setting),2021-09-23 18:00,35,NaN,%
1,1,1.0,2.0,1.0,Respiratory management/Ventilator_PEEP(setting),2021-09-23 18:00,5,NaN,cmH2O
2,1,1.0,2.0,1.0,Respiratory management/Ventilator_Minute venti...,2021-09-23 18:00,7.8,NaN,L/min
3,1,1.0,2.0,1.0,Respiratory management/Ventilator_Meam airway ...,2021-09-23 18:00,8.1,NaN,cmH2O
4,1,1.0,2.0,1.0,Respiratory management/Ventilator_Peak inspira...,2021-09-23 18:00,19.4,NaN,cmH2O
...,...,...,...,...,...,...,...,...,...
172477,1,89.0,1.0,snu_089,Respiratory management/Ventilator_PEEP(setting),2022-01-25 10:00:00,6,NaN,cmH2O
172478,1,89.0,1.0,snu_089,Respiratory management/Ventilator_I:E(setting),2022-01-25 10:00:00,1:2.22,NaN,NaN
172479,1,89.0,1.0,snu_089,Respiratory management/Ventilator_Peak inspira...,2022-01-25 10:00:00,23.7,NaN,cmH2O
172480,1,89.0,1.0,snu_089,Respiratory management/Ventilator_Tidal volume...,2022-01-25 10:00:00,207,NaN,ml
172481,1,89.0,1.0,snu_089,Respiratory management/Ventilator_Minute venti...,2022-01-25 10:00:00,4.5,NaN,L/min

In [202]:
# Set file path
SNU_path = '/VOLUME/nia_vent_weaning/raw_data/서울대/'
dst_path = '/VOLUME/nia_vent_weaning/dataset/SNU/'

dir1 = '1-002~1-021/'
dir2 = '1-022~1-089/'

# variable list
var_list = ['Demographic', 'Diagnosis', 'Drug', 'Heightandweight', 'Lab', 'Ventilator-parameter', 'Vitalsign']

for var in var_list:

    if var == 'Ventilator-parameter':
        continue
    
    else:
        # 2~21
        tmp_df = pd.read_csv(SNU_path + dir1 + var + '.csv', encoding='cp949')
        # 22~89
        tmp_df2 = pd.read_excel(SNU_path + dir2 + var + '.xlsx')
        result_df = pd.concat([tmp_df, tmp_df2], axis=0)
        result_df.to_csv(dst_path + var + '.csv')
        print(len(result_df))

88
860
2984
1038
23430
281582

In [47]:
# Check results
test = pd.read_csv('/VOLUME/nia_vent_weaning/dataset/SNU/Drug.csv', index_col=0)
test

,hospital_id,patient_id,hadm_id,drug_datetime,drug_code,drug_name,drug_dose,drug_unit
0,1,2,1,2021-09-23 18:00,NaN,Monitoring/Rate(Vasopressin),0.01,u/min
1,1,2,1,2021-09-23 18:00,NaN,Monitoring/Rate(remifentanil),0.04,mcg/kg/min
2,1,2,1,2021-09-23 18:00,NaN,Monitoring/Rate(Norepinephrine),2.0,mcg/min
3,1,2,1,2021-09-23 18:00,NaN,Monitoring/Rate(Dexmedetomidine),0.3,mcg/kg/hr
4,1,2,1,2021-09-24 3:00,NaN,Monitoring/Rate(Norepinephrine),3.0,mcg/min
...,...,...,...,...,...,...,...,...
2470,1,89,1,2022-01-23 19:00:00,NaN,Monitoring/Rate(Norepinephrine),4,mcg/min
2471,1,89,1,2022-01-23 19:20:00,NaN,Monitoring/Rate(Norepinephrine),6,mcg/min
2472,1,89,1,2022-01-24 07:00:00,NaN,Monitoring/Rate(Norepinephrine),5,mcg/min
2473,1,89,1,2022-01-24 15:00:00,NaN,Monitoring/Rate(Norepinephrine),8,mcg/min
2474,1,89,1,2022-01-25 10:48:00,NaN,Monitoring/Rate(Norepinephrine),0,mcg/min

In [48]:
len(set(test.drug_name))

13

# 아주대 데이터

* Label File (Weaning Success 여부 및 시점)

In [223]:
# Set file path
AJ_path = '/VOLUME/nia_vent_weaning/raw_data/아주대/'
dst_path = '/VOLUME/nia_vent_weaning/dataset/AJ/'
dir1 = '2-001~010'
dir2 = '2-010~101'
dir3 = '2_102~171'


df1 = pd.read_csv(AJ_path + dir1 + '/ventilator.csv', encoding='cp949').iloc[2:,:14].dropna(subset=['hospital_id'])
# df2 = pd.read_csv(AJ_path + dir2 + '/ventilator.csv', encoding='cp949').iloc[2:,:14].dropna(subset=['hospital_id'])
df3 = pd.read_csv(AJ_path + dir3 + '/ventilator.csv', encoding='cp949').iloc[:,:14].dropna(subset=['hospital_id'])

In [224]:
# 2~10 patients
df1

,hospital_id,patient_id,hadm_id,mv_id,ventilator_type,interface,intubation_time,tracheostomy_time,extubation_time,mv_starttime,mv_endtime,mv_wave_starttime,mv_wave_endtime,re_mv_status
2,2,2_004,1,aju_004,2,2,2019-06-19 00:41:00,NaN,2019-06-25 12:40:00,2019-06-19 01:06:01,2019-06-25 07:07:01,2019-06-19 01:00:00,2019-06-24 14:00:00,0
3,2,2_005,1,aju_005,2,2,2019-02-04 19:47:00,2019-02-21 11:00:00,NaN,2019-02-04 23:03:01,2019-05-28 20:23:00,2019-02-05 02:30:00,2019-05-28 20:30:00,0
4,2,2_006,1,aju_006,2,2,2019-04-21 23:41:00,NaN,NaN,2019-04-22 05:59:01,2019-05-04 11:47:01,2019-04-22 05:50:00,2019-05-04 23:50:00,0
5,2,2_007,1,aju_007,2,2,2019-04-22 10:10:00,2019-05-08 12:10:00,NaN,2019-04-22 10:50:02,2019-05-03 09:08:01,2019-04-22 10:50:00,2019-05-03 09:10:00,0
6,2,2_008,1,aju_008,2,2,2019-06-04 15:08:00,2019-06-24 19:00:00,NaN,2019-06-04 16:57:01,2019-07-02 09:07:01,2019-06-04 16:50:00,2019-07-02 09:10:00,0
7,2,2_009,1,aju_009,1,2,2019-06-14 15:05:00,2019-06-25 20:15:00,NaN,2019-06-14 16:57:01,2019-06-26 08:23:01,2019-06-14 17:50:00,2019-06-25 17:10:00,0
8,2,2_010,1,aju_010,2,2,2019-06-22 00:25:00,NaN,2019-06-28 17:30:00,2019-06-22 05:04:01,2019-06-28 17:17:01,2019-06-22 05:00:00,2019-06-25 13:30:00,0

In [225]:
# 11~101 patients
df2.dropna(subset=['hospital_id'])

,hospital_id,patient_id,hadm_id,mv_id,ventilator_type,interface,intubation_time,tracheostomy_time,extubation_time,mv_starttime,mv_endtime,mv_wave_starttime,mv_wave_endtime,re_mv_status
2,2,011,1,2f53aad45283a1245940,1,2,2020-04-28 17:15:00,NaN,2020-05-02 17:50:00,2020-04-28 17:15:00,2020-05-02 17:50:00,2020-04-30 22:40:00,2020-05-02 17:50:00,0
3,2,012,1,ca2ed758937b810e72cd,1,2,2019-06-30 02:43:00,NaN,2019-07-04 08:40:00,2019-06-30 02:43:00,2019-07-04 08:40:00,2019-06-30 06:50:00,2019-07-04 08:20:00,0
4,2,013,1,aa25f6af9de121fec906,1,2,2020-01-03 20:26:00,NaN,2020-01-08 02:10:00,2020-01-03 22:30:00,2020-01-08 02:10:00,2020-01-03 23:00:00,2020-01-08 01:40:00,0
5,2,014,1,3fc15fdb9aa3ce51dae1,2,2,2020-05-11 18:53:00,NaN,2020-05-15 18:04:00,2020-05-11 18:53:00,2020-05-15 18:04:00,2020-05-11 19:40:00,2020-05-15 17:30:00,0
6,2,015,1,5bdad53cb2097e0ae70f,1,2,2019-12-09 10:43:00,NaN,2019-12-11 13:20:00,2019-12-09 12:35:00,2019-12-11 13:20:00,2019-12-10 17:50:00,2019-12-11 13:20:00,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88,2,097,1,e6e71420fcb6aa8f4577,1,2,2019-09-22 19:18:00,2019-10-10 08:39:00,NaN,2019-09-22 19:18:00,2019-10-12 14:50:00,2019-09-22 20:00,2019-10-12 14:40:00,0
89,2,098,1,6786f6ce9ba2a8916001,1,2,2019-12-11 14:30:00,NaN,2019-12-12 12:00:00,2019-12-11 18:25:00,2019-12-12 10:30:00,NaN,NaN,0
90,2,099,1,9b100fa4d2737f8489d8,2,2,2019-02-26 23:04:00,NaN,2019-02-28 19:30:00,2019-02-26 23:04:00,2019-02-28 19:30:00,2019-02-27 01:50,2019-02-28 19:00:00,0
91,2,100,1,c0a93183204fc8642adb,1,2,2019-04-01 19:43:00,NaN,2019-04-05 19:25:00,2019-04-01 19:43:00,2019-04-05 19:25:00,2019-04-01 20:30,2019-04-15 19:10:00,0
92,2,101,1,04ec64f2ba638d901760,2,2,2019-07-26 00:14:00,NaN,2019-07-28 18:44:00,2019-07-26 00:16:00,2019-07-28 18:44:00,2019-07-26 01:20,2019-07-28 09:00:00,0

In [226]:
# 102~171 patients
df3

,hospital_id,patient_id,hadm_id,mv_id,ventilator_type,interface,intubation_time,tracheostomy_time,extubation_time,mv_starttime,mv_endtime,mv_wave_starttime,mv_wave_endtime,re_mv_status
0,2.0,2_102,1.0,aju_102,2.0,2.0,2020-05-21 20:20:00,NaN,2020-05-24 09:36:00,2020-05-21 20:20:00,2020-05-24 09:36:00,2020-05-22 00:20:00,2020-05-24 09:20:00,0.0
1,2.0,2_103,1.0,aju_103,2.0,2.0,2020-05-05 12:59:00,NaN,2020-05-08 09:00:00,2020-05-05 12:59:00,2020-05-08 09:00:00,2020-05-06 22:30:00,2020-05-07 17:10:00,0.0
2,2.0,2_104,1.0,aju_104,2.0,2.0,2020-06-20 12:41:00,NaN,2020-06-24 01:37:00,2020-06-20 12:41:00,2020-06-24 01:37:00,2020-06-20 12:20:00,2020-06-24 01:10:00,0.0
3,2.0,2_105,1.0,aju_105,2.0,2.0,2019-03-17 00:10:00,NaN,2019-03-19 10:40:00,2019-03-17 00:10:00,2019-03-19 10:40:00,2019-03-17 01:00:00,2019-03-19 10:30:00,0.0
4,2.0,2_106,1.0,aju_106,1.0,2.0,2019-06-16 14:02:00,NaN,2019-06-19 17:40:00,2019-06-16 14:02:00,2019-06-19 17:40:00,2019-06-16 13:50:00,2019-06-19 17:30:00,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65,2.0,2_167,1.0,aju_167,2.0,2.0,2020-05-21 13:55:00,NaN,2020-05-23 09:40:00,2020-05-21 13:55:00,2020-05-23 09:40:00,2020-05-22 00:20:00,2020-05-23 09:30:00,0.0
66,2.0,2_168,1.0,aju_168,1.0,2.0,2019-09-16 11:03:00,NaN,2019-09-23 13:50:00,2019-09-16 11:03:00,2019-09-23 13:50:00,2019-09-17 01:00:00,2019-09-21 11:20:00,0.0
67,2.0,2_169,1.0,aju_169,2.0,2.0,2020-02-10 03:25:00,NaN,2020-02-13 10:05:00,2020-02-10 03:25:00,2020-02-13 10:05:00,2020-02-10 06:00:00,2020-02-13 09:30:00,0.0
68,2.0,2_170,1.0,aju_170,1.0,2.0,2019-01-12 21:02:00,NaN,2019-01-15 18:15:00,2019-01-12 21:02:00,2019-01-15 18:15:00,2019-01-13 07:30:00,2019-01-14 15:00:00,0.0
69,2.0,2_171,1.0,aju_171,1.0,2.0,2020-01-21 16:09:00,NaN,2020-01-23 09:00:00,2020-01-21 16:09:00,2020-01-23 09:00:00,2020-01-21 14:50:00,2020-01-23 08:50:00,0.0

In [228]:
label_df = pd.concat([df1, df2, df3], axis=0)   # df2 오류 수정해야함 (8/24 기준)
label_df['re_mv_status'] = label_df['re_mv_status'].astype(float)
label_df = label_df.dropna(subset=['re_mv_status']).reset_index(drop=True)
label_df.to_csv(dst_path + 'label.csv')
label_df

,hospital_id,patient_id,hadm_id,mv_id,ventilator_type,interface,intubation_time,tracheostomy_time,extubation_time,mv_starttime,mv_endtime,mv_wave_starttime,mv_wave_endtime,re_mv_status
0,2.0,2_004,1.0,aju_004,2.0,2.0,2019-06-19 00:41:00,NaN,2019-06-25 12:40:00,2019-06-19 01:06:01,2019-06-25 07:07:01,2019-06-19 01:00:00,2019-06-24 14:00:00,0.0
1,2.0,2_005,1.0,aju_005,2.0,2.0,2019-02-04 19:47:00,2019-02-21 11:00:00,NaN,2019-02-04 23:03:01,2019-05-28 20:23:00,2019-02-05 02:30:00,2019-05-28 20:30:00,0.0
2,2.0,2_006,1.0,aju_006,2.0,2.0,2019-04-21 23:41:00,NaN,NaN,2019-04-22 05:59:01,2019-05-04 11:47:01,2019-04-22 05:50:00,2019-05-04 23:50:00,0.0
3,2.0,2_007,1.0,aju_007,2.0,2.0,2019-04-22 10:10:00,2019-05-08 12:10:00,NaN,2019-04-22 10:50:02,2019-05-03 09:08:01,2019-04-22 10:50:00,2019-05-03 09:10:00,0.0
4,2.0,2_008,1.0,aju_008,2.0,2.0,2019-06-04 15:08:00,2019-06-24 19:00:00,NaN,2019-06-04 16:57:01,2019-07-02 09:07:01,2019-06-04 16:50:00,2019-07-02 09:10:00,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72,2.0,2_167,1.0,aju_167,2.0,2.0,2020-05-21 13:55:00,NaN,2020-05-23 09:40:00,2020-05-21 13:55:00,2020-05-23 09:40:00,2020-05-22 00:20:00,2020-05-23 09:30:00,0.0
73,2.0,2_168,1.0,aju_168,1.0,2.0,2019-09-16 11:03:00,NaN,2019-09-23 13:50:00,2019-09-16 11:03:00,2019-09-23 13:50:00,2019-09-17 01:00:00,2019-09-21 11:20:00,0.0
74,2.0,2_169,1.0,aju_169,2.0,2.0,2020-02-10 03:25:00,NaN,2020-02-13 10:05:00,2020-02-10 03:25:00,2020-02-13 10:05:00,2020-02-10 06:00:00,2020-02-13 09:30:00,0.0
75,2.0,2_170,1.0,aju_170,1.0,2.0,2019-01-12 21:02:00,NaN,2019-01-15 18:15:00,2019-01-12 21:02:00,2019-01-15 18:15:00,2019-01-13 07:30:00,2019-01-14 15:00:00,0.0
76,2.0,2_171,1.0,aju_171,1.0,2.0,2020-01-21 16:09:00,NaN,2020-01-23 09:00:00,2020-01-21 16:09:00,2020-01-23 09:00:00,2020-01-21 14:50:00,2020-01-23 08:50:00,0.0

* Input data

In [250]:
# Set file path
AJ_path = '/VOLUME/nia_vent_weaning/raw_data/아주대/'
dst_path = '/VOLUME/nia_vent_weaning/dataset/AJ/'

dir1 = '2-001~010/'
# dir2 = '2-010~101/'
dir3 = '2_102~171/'

# variable list
var_list = ['demographic', 'diagnosis', 'drug', 'heightweight', 'lab(abga)', 'ventilator_parameter', 'vitalsign'] # AJ 변수명
var_list2 = ['Demographic', 'Diagnosis', 'Drug', 'Heightandweight', 'Lab', 'Ventilator-parameter', 'Vitalsign'] # SNU 변수명

for idx in range(0, len(var_list)):
    # 2~10 patients
    tmp_df = pd.read_csv(AJ_path + dir1 + var_list[idx] + '.csv', encoding='cp949')
    # 11~101 patients
    # tmp_df2 = pd.read_csv(AJ_path + dir2 + var_list[idx] + '.csv', encoding='cp949')
    # 102~171 patients
    tmp_df3 = pd.read_csv(AJ_path + dir3 + var_list[idx] + '.csv', encoding='cp949')

    # result_df = pd.concat([tmp_df, tmp_df2, tmp_df3], axis=0)
    result_df = pd.concat([tmp_df, tmp_df3], axis=0)

    result_df.to_csv(dst_path + var_list2[idx] + '.csv')
    print(len(result_df))

80
808
3780
356
8065
994985
178207

In [246]:
idx = 1

# 2~10 patients
tmp_df = pd.read_csv(AJ_path + dir1 + var_list[idx] + '.csv', encoding='cp949')
# 11~101 patients
tmp_df2 = pd.read_csv(AJ_path + dir2 + var_list[idx] + '.csv', encoding='cp949')
# 102~171 patients
tmp_df3 = pd.read_csv(AJ_path + dir3 + var_list[idx] + '.csv', encoding='cp949')

In [247]:
tmp_df

,hospital_id,patient_id,hadm_id,diagnosis_datetime,icd10,icd10_desc,Unnamed: 6
0,2,2_002,1,2019-04-15 22:57:00,A35A,Tetanus NOS,NaN
1,2,2_003,1,2019-04-21 16:09:00,C61,Malignant neoplasm of prostate,NaN
2,2,2_003,1,2019-04-21 16:09:00,E11.9,"Type 2 diabetes mellitus, without complications",NaN
3,2,2_003,1,2019-04-21 16:09:00,H90.5,"Sensorineural hearing loss, unspecified",NaN
4,2,2_003,1,2019-04-21 16:09:00,I10.9,Other and unspecified primary hypertension,NaN
...,...,...,...,...,...,...,...
121,2,2_010,1,2019-06-21 23:47:00,S06.50,"Traumatic subdural hemorrhage, without open in...",NaN
122,2,2_010,1,2019-06-21 23:47:00,S06.60,"Traumatic subarachnoid hemorrhage, without ope...",NaN
123,2,2_010,1,2019-06-21 23:47:00,T00.9A,Multiple abrasion NOS,NaN
124,2,2_010,1,2019-06-21 23:47:00,T00.9D,Multiple contusions NOS,NaN
125,2,2_010,1,2019-06-21 23:47:00,T06.8,Other specified injuries involving multiple bo...,NaN

In [248]:
tmp_df2

,hospital_id,patient_id,hadm_id,diagnosis_datetime,icd10,icd10_desc,Unnamed: 6
0,2,2_041,1,2020-01-07 11:18:00,F05.8B,Postoperative delirium,NaN
1,2,2_041,1,2020-01-07 11:18:00,H11.3A,Subconjunctival hemorrhage,NaN
2,2,2_041,1,2020-01-07 11:18:00,I10.9,Other and unspecified primary hypertension,NaN
3,2,2_041,1,2020-01-07 11:18:00,J90,"Pleural effusion, NEC",NaN
4,2,2_041,1,2020-01-07 11:18:00,K66.1,Hemoperitoneum,NaN
...,...,...,...,...,...,...,...
1157,2,2_015,1,2019-12-05 21:15:00,1,S27.101,Traumatic hemothorax without open wound into t...
1158,2,2_015,1,2019-12-05 21:15:00,1,S27.301,Other injuries of lung without open wound into...
1159,2,2_015,1,2019-12-05 21:15:00,1,S32.50,"Fracture of pubis, closed"
1160,2,2_015,1,2019-12-05 21:15:00,1,S82.830,"Trimalleolar fracture, ankle, closed"
1161,2,2_015,1,2019-12-05 21:15:00,1,T79.4,Traumatic shock

In [249]:
tmp_df3

,hospital_id,patient_id,hadm_id,diagnosis_datetime,icd10,icd10_desc
0,2,2_102,1,2020-04-26 15:44:00,F05.9,"Delirium, unspecified"
1,2,2_102,1,2020-04-26 15:44:00,L98.8C,Skin defect
2,2,2_102,1,2020-04-26 15:44:00,S92.221,"Fracture of navicular[scaphoid], foot, open"
3,2,2_102,1,2020-04-26 15:44:00,S92.31,"Fracture of metatarsal bone, open"
4,2,2_102,1,2020-04-26 15:44:00,S93.33,"Dislocation of metatarsal (bone), joint unspec..."
...,...,...,...,...,...,...
677,2,2_171,1,2020-01-21 15:06:00,S27.301,Other injuries of lung without open wound into...
678,2,2_171,1,2020-01-21 15:06:00,S36.100,Injury of liver without open wound into cavity
679,2,2_171,1,2020-01-21 15:06:00,S42.190A,"Fracture of scapular NOS, closed"
680,2,2_171,1,2020-01-21 15:06:00,S42.291,"Fracture of upper end of humerus, part unspeci..."
681,2,2_171,1,2020-01-21 15:06:00,S46.88,Injury of other muscles and tendon at shoulder...

# Label Check

In [110]:
import os 

snu_path = '/VOLUME/nia_vent_weaning/dataset/SNU/'
aj_path = '/VOLUME/nia_vent_weaning/dataset/AJ/'

snu_flist = os.listdir(snu_path)   # SNU data list
aj_flist = os.listdir(aj_path)   # AJ data list

label_snu = pd.read_csv(snu_path + snu_flist[0], index_col=0)
label_aj = pd.read_csv(aj_path + aj_flist[0], index_col=0)
label_snu

,hospital_id,patient_id,hadm_id,mv_id,csv_file_path,ventilator_type,interface,intubation_time,tracheostomy_time,extubation_time,mv_starttime,mv_endtime,mv_wave_starttime,mv_wave_endtime,re_mv_status
0,1,2,1,snu_002,cw_pm_data/22_AIHub_26-2(Cons)_wav(csv)/원천데이터/...,2,1,NaN,NaN,NaN,2021-09-23 18:00,2021-09-28 17:28,2021-09-23 17:58,2021-09-28 17:15,0
1,1,3,1,snu_003,cw_pm_data/22_AIHub_26-2(Cons)_wav(csv)/원천데이터/...,2,1,2021-08-28 12:25,NaN,2021-09-13 6:30,2021-08-28 12:35,2021-09-13 6:30,2021-08-28 12:23,2021-09-13 6:45,0
2,1,4,1,snu_004,cw_pm_data/22_AIHub_26-2(Cons)_wav(csv)/원천데이터/...,2,1,2021-09-07 11:46,NaN,2021-09-17 18:31,2021-09-07 11:46,2021-09-17 18:31,2021-09-14 10:18,2021-09-17 18:17,0
3,1,5,1,snu_005,cw_pm_data/22_AIHub_26-2(Cons)_wav(csv)/원천데이터/...,2,1,2021-09-09 13:56,2021-09-15 15:00,2021-09-15 15:00,2021-09-09 13:56,2021-10-01 13:46,2021-09-17 14:40,2021-10-01 1:42,0
4,1,6,1,snu_006,cw_pm_data/22_AIHub_26-2(Cons)_wav(csv)/원천데이터/...,2,1,2021-09-12 3:17,NaN,2021-09-23 10:49,2021-09-12 4:03,2021-09-23 10:49,2021-09-17 14:40,2021-09-23 10:49,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63,1,85,1,SNU_085,cw_pm_data/22_AIHub_26-2(Cons)_wav(csv)/원천데이터/...,2,1,2022-01-13 11:56:00,NaN,2022-01-14 10:36:00,2022-01-13 11:59:00,2022-01-14 10:36:00,2022-01-13 11:36:55,2022-01-14 10:10:00,0
64,1,86,1,SNU_086,cw_pm_data/22_AIHub_26-2(Cons)_wav(csv)/원천데이터/...,2,1,2021-11-30 23:05:00,2021-12-20 16:50:00,NaN,2021-11-30 23:09:00,2022-01-25 10:00:00,2022-01-13 16:00:00,2022-01-25 10:00:00,0
65,1,87,1,SNU_087,cw_pm_data/22_AIHub_26-2(Cons)_wav(csv)/원천데이터/...,2,1,2022-01-14 04:30:00,NaN,2022-02-04 14:48:00,2022-01-14 04:34:00,2022-02-04 14:48:00,2022-01-14 04:30:22,2022-02-04 14:48:00,0
66,1,88,1,SNU_088,cw_pm_data/22_AIHub_26-2(Cons)_wav(csv)/원천데이터/...,2,1,2022-01-15 09:20:00,NaN,2022-01-19 17:51:00,2022-01-15 09:45:00,2022-01-19 17:51:00,2022-01-15 09:00:00,2022-01-19 17:00:00,0
67,1,89,1,SNU_089,cw_pm_data/22_AIHub_26-2(Cons)_wav(csv)/원천데이터/...,2,1,2022-01-17 16:20:00,NaN,2022-01-25 10:48:00,2022-01-17 16:27:00,2022-01-25 10:48:00,2022-01-17 16:00:01,2022-01-25 10:48:00,0

In [119]:

print('서울대 총 환자 수 : ', len(label_snu), '\tSuccess Group : ', len(label_snu[label_snu.re_mv_status==0]), '\tFail Group : ', len(label_snu[label_snu.re_mv_status==1]))
print('아주대 총 환자 수 : ', len(label_aj), '\tSuccess Group : ', len(label_aj[label_aj.re_mv_status==0]), '\tFail Group : ', len(label_aj[label_aj.re_mv_status==1]))
print('전체 환자 수 : ', len(label_snu) + len(label_aj), \
    '\tSuccess Group : ', len(label_snu[label_snu.re_mv_status==0]) + len(label_aj[label_aj.re_mv_status==0]), \
    '\tFail Group : ', len(label_snu[label_snu.re_mv_status==1]) + len(label_aj[label_aj.re_mv_status==1]))

서울대 총 환자 수 :  88 	Success Group :  83 	Fail Group :  5
아주대 총 환자 수 :  167 	Success Group :  156 	Fail Group :  11
전체 환자 수 :  255 	Success Group :  239 	Fail Group :  16

# Data Check

In [321]:
snu_path = '/VOLUME/nia_vent_weaning/dataset/SNU/'
aj_path = '/VOLUME/nia_vent_weaning/dataset/AJ/'

f_list = os.listdir(snu_path)   # 0 : label, 1 : Demographic, 2 : Diagnosis, 3 : Drug, 4 : Heightandweight, 5 : Lab, 6 : Ventilator-parameter, 7 : Vital-sign

tmp = pd.read_csv(snu_path + f_list[0], index_col=0)
tmp

,hospital_id,patient_id,hadm_id,mv_id,ventilator_type,interface,intubation_time,tracheostomy_time,extubation_time,mv_starttime,mv_endtime,mv_wave_starttime,mv_wave_endtime,re_mv_status
0,1,2,1,snu_002,2,1,NaN,NaN,NaN,2021-09-23 18:00,2021-09-28 17:28,2021-09-23 17:58,2021-09-28 17:15,0
1,1,3,1,snu_003,2,1,2021-08-28 12:25,NaN,2021-09-13 6:30,2021-08-28 12:35,2021-09-13 6:30,2021-08-28 12:23,2021-09-13 6:45,0
2,1,4,1,snu_004,2,1,2021-09-07 11:46,NaN,2021-09-17 18:31,2021-09-07 11:46,2021-09-17 18:31,2021-09-14 10:18,2021-09-17 18:17,0
3,1,5,1,snu_005,2,1,2021-09-09 13:56,2021-09-15 15:00,2021-09-15 15:00,2021-09-09 13:56,2021-10-01 13:46,2021-09-17 14:40,2021-10-01 1:42,0
4,1,6,1,snu_006,2,1,2021-09-12 3:17,NaN,2021-09-23 10:49,2021-09-12 4:03,2021-09-23 10:49,2021-09-17 14:40,2021-09-23 10:49,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63,1,85,1,SNU_085,2,1,2022-01-13 11:56:00,NaN,2022-01-14 10:36:00,2022-01-13 11:59:00,2022-01-14 10:36:00,2022-01-13 11:36:55,2022-01-14 10:10:00,0
64,1,86,1,SNU_086,2,1,2021-11-30 23:05:00,2021-12-20 16:50:00,NaN,2021-11-30 23:09:00,2022-01-25 10:00:00,2022-01-13 16:00:00,2022-01-25 10:00:00,0
65,1,87,1,SNU_087,2,1,2022-01-14 04:30:00,NaN,2022-02-04 14:48:00,2022-01-14 04:34:00,2022-02-04 14:48:00,2022-01-14 04:30:22,2022-02-04 14:48:00,0
66,1,88,1,SNU_088,2,1,2022-01-15 09:20:00,NaN,2022-01-19 17:51:00,2022-01-15 09:45:00,2022-01-19 17:51:00,2022-01-15 09:00:00,2022-01-19 17:00:00,0
67,1,89,1,SNU_089,2,1,2022-01-17 16:20:00,NaN,2022-01-25 10:48:00,2022-01-17 16:27:00,2022-01-25 10:48:00,2022-01-17 16:00:01,2022-01-25 10:48:00,0

In [317]:
snu_path = '/VOLUME/nia_vent_weaning/dataset/SNU/'
aj_path = '/VOLUME/nia_vent_weaning/dataset/AJ/'

f_list = os.listdir(aj_path)   # 0 : label, 1 : Demographic, 2 : Diagnosis, 3 : Drug, 4 : Heightandweight, 5 : Lab, 6 : Ventilator-parameter, 7 : Vital-sign

tmp2 = pd.read_csv(aj_path + f_list[0], index_col=0)
# tmp2.loc[tmp2.item=='키', 'item'] = 'height'
# tmp2.loc[tmp2.item=='몸무게', 'item'] = 'weight'
# tmp2.to_csv(aj_path + f_list[4])   # 아주대 Ventilator-parameter 전처리용
tmp2

,hospital_id,patient_id,hadm_id,mv_id,ventilator_type,interface,intubation_time,tracheostomy_time,extubation_time,mv_starttime,mv_endtime,mv_wave_starttime,mv_wave_endtime,re_mv_status
0,2.0,2_004,1.0,aju_004,2.0,2.0,2019-06-19 00:41:00,NaN,2019-06-25 12:40:00,2019-06-19 01:06:01,2019-06-25 07:07:01,2019-06-19 01:00:00,2019-06-24 14:00:00,0.0
1,2.0,2_005,1.0,aju_005,2.0,2.0,2019-02-04 19:47:00,2019-02-21 11:00:00,NaN,2019-02-04 23:03:01,2019-05-28 20:23:00,2019-02-05 02:30:00,2019-05-28 20:30:00,0.0
2,2.0,2_006,1.0,aju_006,2.0,2.0,2019-04-21 23:41:00,NaN,NaN,2019-04-22 05:59:01,2019-05-04 11:47:01,2019-04-22 05:50:00,2019-05-04 23:50:00,0.0
3,2.0,2_007,1.0,aju_007,2.0,2.0,2019-04-22 10:10:00,2019-05-08 12:10:00,NaN,2019-04-22 10:50:02,2019-05-03 09:08:01,2019-04-22 10:50:00,2019-05-03 09:10:00,0.0
4,2.0,2_008,1.0,aju_008,2.0,2.0,2019-06-04 15:08:00,2019-06-24 19:00:00,NaN,2019-06-04 16:57:01,2019-07-02 09:07:01,2019-06-04 16:50:00,2019-07-02 09:10:00,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72,2.0,2_167,1.0,aju_167,2.0,2.0,2020-05-21 13:55:00,NaN,2020-05-23 09:40:00,2020-05-21 13:55:00,2020-05-23 09:40:00,2020-05-22 00:20:00,2020-05-23 09:30:00,0.0
73,2.0,2_168,1.0,aju_168,1.0,2.0,2019-09-16 11:03:00,NaN,2019-09-23 13:50:00,2019-09-16 11:03:00,2019-09-23 13:50:00,2019-09-17 01:00:00,2019-09-21 11:20:00,0.0
74,2.0,2_169,1.0,aju_169,2.0,2.0,2020-02-10 03:25:00,NaN,2020-02-13 10:05:00,2020-02-10 03:25:00,2020-02-13 10:05:00,2020-02-10 06:00:00,2020-02-13 09:30:00,0.0
75,2.0,2_170,1.0,aju_170,1.0,2.0,2019-01-12 21:02:00,NaN,2019-01-15 18:15:00,2019-01-12 21:02:00,2019-01-15 18:15:00,2019-01-13 07:30:00,2019-01-14 15:00:00,0.0
76,2.0,2_171,1.0,aju_171,1.0,2.0,2020-01-21 16:09:00,NaN,2020-01-23 09:00:00,2020-01-21 16:09:00,2020-01-23 09:00:00,2020-01-21 14:50:00,2020-01-23 08:50:00,0.0

# 데이터 통합 (서울대+아주대)

In [37]:
dst_path = '/VOLUME/nia_vent_weaning/dataset/integrated_data/'
snu_path = '/VOLUME/nia_vent_weaning/dataset/SNU/'
aj_path = '/VOLUME/nia_vent_weaning/dataset/AJ/'

f_list = os.listdir(aj_path)   # 0 : label, 1 : Demographic, 2 : Diagnosis, 3 : Drug, 4 : Heightandweight, 5 : Lab, 6 : Ventilator-parameter, 7 : Vital-sign


for idx in range(0, 8):
    tmp_snu = pd.read_csv(snu_path + f_list[idx], index_col=0)
    tmp_aj = pd.read_csv(aj_path + f_list[idx], index_col=0)

    tmp_result = pd.concat([tmp_snu, tmp_aj], axis=0)
    tmp_result.to_csv(dst_path + f_list[idx])

In [324]:
# Data Check
idx = 0

label_df = pd.read_csv(dst_path + f_list[idx], index_col=0, parse_dates=['intubation_time', 'tracheostomy_time',])
label_df

,hospital_id,patient_id,hadm_id,mv_id,ventilator_type,interface,intubation_time,tracheostomy_time,extubation_time,mv_starttime,mv_endtime,mv_wave_starttime,mv_wave_endtime,re_mv_status
0,1.0,2,1.0,snu_002,2.0,1.0,NaN,NaN,NaN,2021-09-23 18:00,2021-09-28 17:28,2021-09-23 17:58,2021-09-28 17:15,0.0
1,1.0,3,1.0,snu_003,2.0,1.0,2021-08-28 12:25,NaN,2021-09-13 6:30,2021-08-28 12:35,2021-09-13 6:30,2021-08-28 12:23,2021-09-13 6:45,0.0
2,1.0,4,1.0,snu_004,2.0,1.0,2021-09-07 11:46,NaN,2021-09-17 18:31,2021-09-07 11:46,2021-09-17 18:31,2021-09-14 10:18,2021-09-17 18:17,0.0
3,1.0,5,1.0,snu_005,2.0,1.0,2021-09-09 13:56,2021-09-15 15:00,2021-09-15 15:00,2021-09-09 13:56,2021-10-01 13:46,2021-09-17 14:40,2021-10-01 1:42,0.0
4,1.0,6,1.0,snu_006,2.0,1.0,2021-09-12 3:17,NaN,2021-09-23 10:49,2021-09-12 4:03,2021-09-23 10:49,2021-09-17 14:40,2021-09-23 10:49,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72,2.0,2_167,1.0,aju_167,2.0,2.0,2020-05-21 13:55:00,NaN,2020-05-23 09:40:00,2020-05-21 13:55:00,2020-05-23 09:40:00,2020-05-22 00:20:00,2020-05-23 09:30:00,0.0
73,2.0,2_168,1.0,aju_168,1.0,2.0,2019-09-16 11:03:00,NaN,2019-09-23 13:50:00,2019-09-16 11:03:00,2019-09-23 13:50:00,2019-09-17 01:00:00,2019-09-21 11:20:00,0.0
74,2.0,2_169,1.0,aju_169,2.0,2.0,2020-02-10 03:25:00,NaN,2020-02-13 10:05:00,2020-02-10 03:25:00,2020-02-13 10:05:00,2020-02-10 06:00:00,2020-02-13 09:30:00,0.0
75,2.0,2_170,1.0,aju_170,1.0,2.0,2019-01-12 21:02:00,NaN,2019-01-15 18:15:00,2019-01-12 21:02:00,2019-01-15 18:15:00,2019-01-13 07:30:00,2019-01-14 15:00:00,0.0
76,2.0,2_171,1.0,aju_171,1.0,2.0,2020-01-21 16:09:00,NaN,2020-01-23 09:00:00,2020-01-21 16:09:00,2020-01-23 09:00:00,2020-01-21 14:50:00,2020-01-23 08:50:00,0.0

* Ventilator Parameter 변수 통일

In [31]:
# Ventilator Parameter 변수 통일
idx = 6

t = pd.read_csv(dst_path + f_list[idx], index_col=0)
t

/usr/local/lib/python3.8/dist-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (2,4,7,8) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,hospital_id,patient_id,hadm_id,mv_id,parameter,parameter_datetime,value,valuenum,unit
0,1,1.0,2.0,1.0,Respiratory management/Ventilator_FiO2(setting),2021-09-23 18:00,35,NaN,%
1,1,1.0,2.0,1.0,Respiratory management/Ventilator_PEEP(setting),2021-09-23 18:00,5,NaN,cmH2O
2,1,1.0,2.0,1.0,Respiratory management/Ventilator_Minute venti...,2021-09-23 18:00,7.8,NaN,L/min
3,1,1.0,2.0,1.0,Respiratory management/Ventilator_Meam airway ...,2021-09-23 18:00,8.1,NaN,cmH2O
4,1,1.0,2.0,1.0,Respiratory management/Ventilator_Peak inspira...,2021-09-23 18:00,19.4,NaN,cmH2O
...,...,...,...,...,...,...,...,...,...
5617,2,2_171,1.0,aju_171,Respiratory management/Ventilator_PEEP(setting),2020-01-22 22:25,8,Null,cmH2O
5618,2,2_171,1.0,aju_171,Respiratory management/Ventilator_ASV MV (%) (...,2020-01-22 22:25,120,Null,%
5619,2,2_171,1.0,aju_171,Respiratory management/Ventilator_FiO2(setting),2020-01-23 8:00,0.4,Null,%
5620,2,2_171,1.0,aju_171,Respiratory management/Ventilator_PEEP(setting),2020-01-23 8:00,8,Null,cmH2O
5621,2,2_171,1.0,aju_171,Respiratory management/Ventilator_ASV MV (%) (...,2020-01-23 8:00,120,Null,%

In [32]:
t_aj = t[t['hospital_id']==2]
t_snu = t[t['hospital_id']==1]

In [33]:
b = set(t_aj.parameter)

In [34]:
a = set(t_snu.parameter)

In [35]:
set1 = a
set2 = b

final_vent_param = list(set1 & set2)
print(final_vent_param)

['Respiratory management/Ventilator_Minute ventilation(Pt)', 'Respiratory management/Ventilator_Peak inspiratory pressure(Pt)', 'Respiratory management/Ventilator_FiO2(setting)', 'Respiratory management/Ventilator_Plateau Pressure(Pt)', 'Respiratory management/Ventilator_Meam airway pressure(Pt)', 'Respiratory management/Ventilator_PEEP(setting)', 'Respiratory management/Ventilator_PSV(setting)', 'Respiratory management/Ventilator_Inspiratory pressure(setting)', 'Respiratory management/Ventilator_Tidal volume(Pt)', 'Respiratory management/Ventilator_Tidal volume(setting)', 'Respiratory management/Ventilator_Respiratory rate(Pt)', 'Respiratory management/Ventilator_Respiratory rate(Setting)', 'Respiratory management/Ventilator_I:E(setting)']

* LAB 변수 통일

In [38]:
# LAB 변수 통일
idx = 5

t = pd.read_csv(dst_path + f_list[idx], index_col=0)
t

,hospital_id,patient_id,hadm_id,lab_datetime,lab_code,lab_name,value,unit
0,1,2,1,2021-09-23 18:21,NaN,pH[Arterial Whole blood],7.38,NaN
1,1,2,1,2021-09-23 18:21,NaN,pCO2[Arterial Whole blood],38,mmHg
2,1,2,1,2021-09-23 18:21,NaN,pO2[Arterial Whole blood],81,mmHg
3,1,2,1,2021-09-23 18:21,NaN,HCO3-[Arterial Whole blood],22.5,mmol/L
4,1,2,1,2021-09-23 18:21,NaN,BE-B[Arterial Whole blood],-2.4,mmol/L
...,...,...,...,...,...,...,...,...
5785,2,2_171,1,2020-01-25 03:16:31,C381501201,ABGA_pH,7.406,NaN
5786,2,2_171,1,2020-01-25 03:16:31,C381501202,ABGA_pCO2,37.3,mmHg
5787,2,2_171,1,2020-01-25 03:16:31,C381501203,ABGA_pO2,85.6,mmHg
5788,2,2_171,1,2020-01-25 03:16:31,C381501204,ABGA_BE,-0.2,mmol/L
5789,2,2_171,1,2020-01-25 03:16:31,C381501205,ABGA_HCO3,23.6,mmol/L

In [39]:
set(t.lab_name)

{'ABGA_BE',
 'ABGA_HCO3',
 'ABGA_pCO2',
 'ABGA_pH',
 'ABGA_pO2',
 'BE-B[Arterial Whole blood]',
 'HCO3-[Arterial Whole blood]',
 'pCO2[Arterial Whole blood]',
 'pH[Arterial Whole blood]',
 'pO2[Arterial Whole blood]'}

In [40]:
# 변수 포함되어 있으면 통일
t.loc[t.lab_name.str.contains('pH'), 'lab_name'] = 'pH'
t.loc[t.lab_name.str.contains('HCO3'), 'lab_name'] = 'HCO3'
t.loc[t.lab_name.str.contains('BE'), 'lab_name'] = 'BE'
t.loc[t.lab_name.str.contains('pCO2'), 'lab_name'] = 'pCO2'
t.loc[t.lab_name.str.contains('pO2'), 'lab_name'] = 'pO2'
t

,hospital_id,patient_id,hadm_id,lab_datetime,lab_code,lab_name,value,unit
0,1,2,1,2021-09-23 18:21,NaN,pH,7.38,NaN
1,1,2,1,2021-09-23 18:21,NaN,pCO2,38,mmHg
2,1,2,1,2021-09-23 18:21,NaN,pO2,81,mmHg
3,1,2,1,2021-09-23 18:21,NaN,HCO3,22.5,mmol/L
4,1,2,1,2021-09-23 18:21,NaN,BE,-2.4,mmol/L
...,...,...,...,...,...,...,...,...
5785,2,2_171,1,2020-01-25 03:16:31,C381501201,pH,7.406,NaN
5786,2,2_171,1,2020-01-25 03:16:31,C381501202,pCO2,37.3,mmHg
5787,2,2_171,1,2020-01-25 03:16:31,C381501203,pO2,85.6,mmHg
5788,2,2_171,1,2020-01-25 03:16:31,C381501204,BE,-0.2,mmol/L
5789,2,2_171,1,2020-01-25 03:16:31,C381501205,HCO3,23.6,mmol/L

In [22]:
# t.to_csv(dst_path + f_list[idx])

In [377]:
set(t.lab_name)

{'BE', 'HCO3', 'pCO2', 'pH', 'pO2'}

# 테이블 통합 (마스터 테이블)

    * 라벨데이터 + demographics 합쳐서 patient info 테이블 만들기 
    * itemid 컬럼하나 만들어서 테이블 만들기

In [41]:
from ast import parse
import pandas as pd

label_df = pd.read_csv('/VOLUME/nia_vent_weaning/dataset/integrated_data/label.csv', index_col=0, parse_dates=['intubation_time', 'tracheostomy_time', 'extubation_time', 'mv_starttime', 'mv_endtime', 'mv_wave_starttime', 'mv_wave_endtime' ])
label_df

,hospital_id,patient_id,hadm_id,mv_id,ventilator_type,interface,intubation_time,tracheostomy_time,extubation_time,mv_starttime,mv_endtime,mv_wave_starttime,mv_wave_endtime,re_mv_status
0,1.0,2,1.0,snu_002,2.0,1.0,NaT,NaT,NaT,2021-09-23 18:00:00,2021-09-28 17:28:00,2021-09-23 17:58:00,2021-09-28 17:15:00,0.0
1,1.0,3,1.0,snu_003,2.0,1.0,2021-08-28 12:25:00,NaT,2021-09-13 06:30:00,2021-08-28 12:35:00,2021-09-13 06:30:00,2021-08-28 12:23:00,2021-09-13 06:45:00,0.0
2,1.0,4,1.0,snu_004,2.0,1.0,2021-09-07 11:46:00,NaT,2021-09-17 18:31:00,2021-09-07 11:46:00,2021-09-17 18:31:00,2021-09-14 10:18:00,2021-09-17 18:17:00,0.0
3,1.0,5,1.0,snu_005,2.0,1.0,2021-09-09 13:56:00,2021-09-15 15:00:00,2021-09-15 15:00:00,2021-09-09 13:56:00,2021-10-01 13:46:00,2021-09-17 14:40:00,2021-10-01 01:42:00,0.0
4,1.0,6,1.0,snu_006,2.0,1.0,2021-09-12 03:17:00,NaT,2021-09-23 10:49:00,2021-09-12 04:03:00,2021-09-23 10:49:00,2021-09-17 14:40:00,2021-09-23 10:49:00,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72,2.0,2_167,1.0,aju_167,2.0,2.0,2020-05-21 13:55:00,NaT,2020-05-23 09:40:00,2020-05-21 13:55:00,2020-05-23 09:40:00,2020-05-22 00:20:00,2020-05-23 09:30:00,0.0
73,2.0,2_168,1.0,aju_168,1.0,2.0,2019-09-16 11:03:00,NaT,2019-09-23 13:50:00,2019-09-16 11:03:00,2019-09-23 13:50:00,2019-09-17 01:00:00,2019-09-21 11:20:00,0.0
74,2.0,2_169,1.0,aju_169,2.0,2.0,2020-02-10 03:25:00,NaT,2020-02-13 10:05:00,2020-02-10 03:25:00,2020-02-13 10:05:00,2020-02-10 06:00:00,2020-02-13 09:30:00,0.0
75,2.0,2_170,1.0,aju_170,1.0,2.0,2019-01-12 21:02:00,NaT,2019-01-15 18:15:00,2019-01-12 21:02:00,2019-01-15 18:15:00,2019-01-13 07:30:00,2019-01-14 15:00:00,0.0
76,2.0,2_171,1.0,aju_171,1.0,2.0,2020-01-21 16:09:00,NaT,2020-01-23 09:00:00,2020-01-21 16:09:00,2020-01-23 09:00:00,2020-01-21 14:50:00,2020-01-23 08:50:00,0.0

# label Class 비율

In [95]:
from ast import parse
import pandas as pd

label_df = pd.read_csv('/VOLUME/nia_vent_weaning/dataset/integrated_data/label.csv', index_col=0, parse_dates=['intubation_time', 'tracheostomy_time', 'extubation_time', 'mv_starttime', 'mv_endtime', 'mv_wave_starttime', 'mv_wave_endtime' ])
label_df

,hospital_id,patient_id,hadm_id,mv_id,ventilator_type,interface,intubation_time,tracheostomy_time,extubation_time,mv_starttime,mv_endtime,mv_wave_starttime,mv_wave_endtime,re_mv_status
0,1.0,2,1.0,snu_002,2.0,1.0,NaT,NaT,NaT,2021-09-23 18:00:00,2021-09-28 17:28:00,2021-09-23 17:58:00,2021-09-28 17:15:00,0.0
1,1.0,3,1.0,snu_003,2.0,1.0,2021-08-28 12:25:00,NaT,2021-09-13 06:30:00,2021-08-28 12:35:00,2021-09-13 06:30:00,2021-08-28 12:23:00,2021-09-13 06:45:00,0.0
2,1.0,4,1.0,snu_004,2.0,1.0,2021-09-07 11:46:00,NaT,2021-09-17 18:31:00,2021-09-07 11:46:00,2021-09-17 18:31:00,2021-09-14 10:18:00,2021-09-17 18:17:00,0.0
3,1.0,5,1.0,snu_005,2.0,1.0,2021-09-09 13:56:00,2021-09-15 15:00:00,2021-09-15 15:00:00,2021-09-09 13:56:00,2021-10-01 13:46:00,2021-09-17 14:40:00,2021-10-01 01:42:00,0.0
4,1.0,6,1.0,snu_006,2.0,1.0,2021-09-12 03:17:00,NaT,2021-09-23 10:49:00,2021-09-12 04:03:00,2021-09-23 10:49:00,2021-09-17 14:40:00,2021-09-23 10:49:00,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72,2.0,2_167,1.0,aju_167,2.0,2.0,2020-05-21 13:55:00,NaT,2020-05-23 09:40:00,2020-05-21 13:55:00,2020-05-23 09:40:00,2020-05-22 00:20:00,2020-05-23 09:30:00,0.0
73,2.0,2_168,1.0,aju_168,1.0,2.0,2019-09-16 11:03:00,NaT,2019-09-23 13:50:00,2019-09-16 11:03:00,2019-09-23 13:50:00,2019-09-17 01:00:00,2019-09-21 11:20:00,0.0
74,2.0,2_169,1.0,aju_169,2.0,2.0,2020-02-10 03:25:00,NaT,2020-02-13 10:05:00,2020-02-10 03:25:00,2020-02-13 10:05:00,2020-02-10 06:00:00,2020-02-13 09:30:00,0.0
75,2.0,2_170,1.0,aju_170,1.0,2.0,2019-01-12 21:02:00,NaT,2019-01-15 18:15:00,2019-01-12 21:02:00,2019-01-15 18:15:00,2019-01-13 07:30:00,2019-01-14 15:00:00,0.0
76,2.0,2_171,1.0,aju_171,1.0,2.0,2020-01-21 16:09:00,NaT,2020-01-23 09:00:00,2020-01-21 16:09:00,2020-01-23 09:00:00,2020-01-21 14:50:00,2020-01-23 08:50:00,0.0

In [96]:
total = len(label_df[label_df['re_mv_status']==0]) + len(label_df[label_df['re_mv_status']==1])

print('Total: ', total)
print('Success: ', len(label_df[label_df['re_mv_status']==0]))
print('Fail: ', len(label_df[label_df['re_mv_status']==1]))
print('Ratio: ', round(len(label_df[label_df['re_mv_status']==1]) / total,3))

Total:  165
Success:  159
Fail:  6
Ratio:  0.036

In [43]:
# Demo data 정리
demo = pd.read_csv('/VOLUME/nia_vent_weaning/dataset/integrated_data/Demographic.csv', index_col=0)
demo['birth'] = demo['birth_date'].str[:4]
demo['adm'] = demo['hosp_adm_date'].str[:4]
demo['age'] = demo['adm'].astype(int) - demo['birth'].astype(int) + 1
demo = demo[['patient_id', 'sex', 'age', 'icu_type', 'hosp_adm_date', 'hosp_discharge_date', 'icu_adm_date', 'icu_discharge_date', 'death_datetime']]
demo

,patient_id,sex,age,icu_type,hosp_adm_date,hosp_discharge_date,icu_adm_date,icu_discharge_date,death_datetime
0,2,1,67,5,2021-08-02,2021-10-03,2021-08-02 12:10,2021-10-03 13:40,2021-10-03 10:52:00
1,3,1,69,1,2021-08-27,2021-09-13,2021-08-28 12:00,2021-09-13 13:00,2021-09-13 06:50:00
2,4,1,81,1,2021-09-07,2021-09-19,2021-09-07 18:02,2021-09-18 15:00,2021-09-19-01:19
3,5,0,43,2,2021-08-29,2021-11-13,2021-09-09 13:35,2021-10-07 17:24,NaN
4,6,1,75,1,2021-09-01,2021-09-28,2021-09-12 4:03,2021-09-23 15:10,NaN
...,...,...,...,...,...,...,...,...,...
65,2_167,1,55,2,2020-05-20,2020-06-03,2020-05-21 00:09:00,2020-05-25 18:40:00,NaN
66,2_168,0,77,2,2019-09-16,2019-11-08,2019-09-16 11:03:00,2019-09-27 12:52:00,NaN
67,2_169,1,80,2,2020-02-02,2020-02-27,2020-02-09 18:54:00,2020-02-14 16:45:00,NaN
68,2_170,1,41,2,2019-01-12,2019-01-30,2019-01-12 21:02:00,2019-01-16 07:19:00,NaN
69,2_171,1,51,2,2020-01-21,2020-03-12,2020-01-21 15:06:00,2020-01-28 15:25:00,NaN

In [27]:
from ast import parse
import pandas as pd

label_df = pd.read_csv('/VOLUME/nia_vent_weaning/dataset/integrated_data/label.csv', index_col=0, parse_dates=['intubation_time', 'tracheostomy_time', 'extubation_time', 'mv_starttime', 'mv_endtime', 'mv_wave_starttime', 'mv_wave_endtime' ])
label_df = pd.merge(label_df, demo, on='patient_id', how='left')
label_df

,hospital_id,patient_id,hadm_id,mv_id,ventilator_type,interface,intubation_time,tracheostomy_time,extubation_time,mv_starttime,...,mv_wave_endtime,re_mv_status,sex,age,icu_type,hosp_adm_date,hosp_discharge_date,icu_adm_date,icu_discharge_date,death_datetime
0,1.0,2,1.0,snu_002,2.0,1.0,NaT,NaT,NaT,2021-09-23 18:00:00,...,2021-09-28 17:15:00,0.0,1,67,5,2021-08-02,2021-10-03,2021-08-02 12:10,2021-10-03 13:40,2021-10-03 10:52:00
1,1.0,3,1.0,snu_003,2.0,1.0,2021-08-28 12:25:00,NaT,2021-09-13 06:30:00,2021-08-28 12:35:00,...,2021-09-13 06:45:00,0.0,1,69,1,2021-08-27,2021-09-13,2021-08-28 12:00,2021-09-13 13:00,2021-09-13 06:50:00
2,1.0,4,1.0,snu_004,2.0,1.0,2021-09-07 11:46:00,NaT,2021-09-17 18:31:00,2021-09-07 11:46:00,...,2021-09-17 18:17:00,0.0,1,81,1,2021-09-07,2021-09-19,2021-09-07 18:02,2021-09-18 15:00,2021-09-19-01:19
3,1.0,5,1.0,snu_005,2.0,1.0,2021-09-09 13:56:00,2021-09-15 15:00:00,2021-09-15 15:00:00,2021-09-09 13:56:00,...,2021-10-01 01:42:00,0.0,0,43,2,2021-08-29,2021-11-13,2021-09-09 13:35,2021-10-07 17:24,NaN
4,1.0,6,1.0,snu_006,2.0,1.0,2021-09-12 03:17:00,NaT,2021-09-23 10:49:00,2021-09-12 04:03:00,...,2021-09-23 10:49:00,0.0,1,75,1,2021-09-01,2021-09-28,2021-09-12 4:03,2021-09-23 15:10,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
160,2.0,2_167,1.0,aju_167,2.0,2.0,2020-05-21 13:55:00,NaT,2020-05-23 09:40:00,2020-05-21 13:55:00,...,2020-05-23 09:30:00,0.0,1,55,2,2020-05-20,2020-06-03,2020-05-21 00:09:00,2020-05-25 18:40:00,NaN
161,2.0,2_168,1.0,aju_168,1.0,2.0,2019-09-16 11:03:00,NaT,2019-09-23 13:50:00,2019-09-16 11:03:00,...,2019-09-21 11:20:00,0.0,0,77,2,2019-09-16,2019-11-08,2019-09-16 11:03:00,2019-09-27 12:52:00,NaN
162,2.0,2_169,1.0,aju_169,2.0,2.0,2020-02-10 03:25:00,NaT,2020-02-13 10:05:00,2020-02-10 03:25:00,...,2020-02-13 09:30:00,0.0,1,80,2,2020-02-02,2020-02-27,2020-02-09 18:54:00,2020-02-14 16:45:00,NaN
163,2.0,2_170,1.0,aju_170,1.0,2.0,2019-01-12 21:02:00,NaT,2019-01-15 18:15:00,2019-01-12 21:02:00,...,2019-01-14 15:00:00,0.0,1,41,2,2019-01-12,2019-01-30,2019-01-12 21:02:00,2019-01-16 07:19:00,NaN
164,2.0,2_171,1.0,aju_171,1.0,2.0,2020-01-21 16:09:00,NaT,2020-01-23 09:00:00,2020-01-21 16:09:00,...,2020-01-23 08:50:00,0.0,1,51,2,2020-01-21,2020-03-12,2020-01-21 15:06:00,2020-01-28 15:25:00,NaN

In [28]:
import warnings

warnings.filterwarnings('ignore')

# Vital-sign data 정리 
vital = pd.read_csv('/VOLUME/nia_vent_weaning/dataset/integrated_data/Vitalsign.csv', index_col=0, parse_dates=['vital_datetime'])
vital.columns = ['hospital_id', 'patient_id', 'hadm_id', 'charttime', 'item', 'value', 'unit']
vital = vital[['patient_id', 'charttime', 'item', 'value']]

# LAB data 정리
lab = pd.read_csv('/VOLUME/nia_vent_weaning/dataset/integrated_data/Lab.csv', index_col=0, parse_dates=['lab_datetime'])
lab.columns = ['hospital_id', 'patient_id', 'hadm_id', 'charttime', 'lab_code', 'item', 'value', 'unit']
lab = lab[['patient_id', 'charttime', 'item', 'value']]

# Ventilator parameters 
ventil_param = pd.read_csv('/VOLUME/nia_vent_weaning/dataset/integrated_data/Ventilator-parameter.csv', index_col=0, parse_dates=['parameter_datetime'])
ventil_param = ventil_param[~ventil_param.parameter.isnull()==True] # Drug_name에서 Null값 있는 경우 제외

# Ventil param 공통변수만 추출

t_aj = ventil_param[ventil_param['hospital_id']==2]
t_snu = ventil_param[ventil_param['hospital_id']==1]
b = set(t_aj.parameter)
a = set(t_snu.parameter)
set1 = a
set2 = b

final_vent_param = list(set1 & set2)
ventil_param = ventil_param[ventil_param['parameter'].isin(final_vent_param)]

ventil_param.columns = ['hospital_id', 'patient_id', 'hadm_id', 'mv_id', 'item', 'charttime', 'value', 'valuenum', 'unit']
ventil_param = ventil_param[['patient_id', 'charttime', 'item', 'value']]
ventil_param['item'] = ventil_param.item.str.split('_').str[1]

# Height/Weight
height = pd.read_csv('/VOLUME/nia_vent_weaning/dataset/integrated_data/Heightandweight.csv', index_col=0)
height.columns = ['hospital_id', 'patient_id', 'hadm_id', 'charttime', 'item', 'value', 'unit']
height = height[['patient_id', 'charttime', 'item', 'value']]

# diagnosis
diag = pd.read_csv('/VOLUME/nia_vent_weaning/dataset/integrated_data/Diagnosis.csv', index_col=0)
diag.columns = ['hospital_id', 'patient_id', 'hadm_id', 'diagnosis_datetime', 'icd10', 'icd10_desc']
diag = diag[['patient_id', 'diagnosis_datetime', 'icd10']]

# drug
drug = pd.read_csv('/VOLUME/nia_vent_weaning/dataset/integrated_data/Drug.csv', index_col=0)
diag = [['patient_id', 'drug_datetime', 'drug_name', 'drug_dose	']]

drug = drug[~drug.drug_name.isnull()==True] # Drug_name에서 Null값 있는 경우 제외
drug.loc[drug.drug_name.str.contains('Norepinephrine'), 'drug_name'] = 'norepinephrine'
drug.loc[drug.drug_name.str.contains('Epinephrine'), 'drug_name'] = 'epinephrine'
drug['drug_name'] = drug['drug_name'].str.lower()

# 변수명 통일
drug.loc[drug.drug_name.str.contains('dexmedetomidine'), 'drug_name'] = 'dexmedetomidine'
drug.loc[drug.drug_name.str.contains('dextomine'), 'drug_name'] = 'dexmedetomidine'
drug.loc[drug.drug_name.str.contains('dobutamine'), 'drug_name'] = 'dobutamine'
drug.loc[drug.drug_name.str.contains('dopamine'), 'drug_name'] = 'dopamine'
drug.loc[drug.drug_name.str.contains('midazolam'), 'drug_name'] = 'midazolam'
drug.loc[drug.drug_name.str.contains('morphine'), 'drug_name'] = 'morphine'
drug.loc[drug.drug_name.str.contains('vasopressin'), 'drug_name'] = 'vasopressin'
drug.loc[drug.drug_name.str.contains('propofol'), 'drug_name'] = 'propofol'
drug.loc[drug.drug_name.str.contains('remifentanil'), 'drug_name'] = 'remifentanil'

drug_var = ['dexmedetomidine', 'dobutamine', 'dopamine', 'epinephrine', 'midazolam', 'morphine', 'norepinephrine', 'propofol', 'remifentanil', 'vasopressin']
drug = drug[drug['drug_name'].isin(drug_var)]
drug['drug_datetime'] = pd.to_datetime(drug['drug_datetime'], errors='coerce')
drug

,hospital_id,patient_id,hadm_id,drug_datetime,drug_code,drug_name,drug_dose,drug_unit
0,1,2,1.0,2021-09-23 18:00:00,NaN,vasopressin,0.01,u/min
1,1,2,1.0,2021-09-23 18:00:00,NaN,remifentanil,0.04,mcg/kg/min
2,1,2,1.0,2021-09-23 18:00:00,NaN,norepinephrine,2.0,mcg/min
3,1,2,1.0,2021-09-23 18:00:00,NaN,dexmedetomidine,0.3,mcg/kg/hr
4,1,2,1.0,2021-09-24 03:00:00,NaN,norepinephrine,3.0,mcg/min
...,...,...,...,...,...,...,...,...
2779,2,2_171,1.0,2020-01-22 12:00:00,M3ID0403,dexmedetomidine,0.22,mcg/kg/hr
2780,2,2_171,1.0,2020-01-22 12:59:00,M3ID0403,dexmedetomidine,0.0,mcg/kg/hr
2781,2,2_171,1.0,2020-01-22 21:00:00,M3ID0403,dexmedetomidine,0.15,mcg/kg/hr
2782,2,2_171,1.0,2020-01-22 09:00:00,M3ID0403,dexmedetomidine,0.19,mcg/kg/hr
2783,2,2_171,1.0,2020-01-22 09:59:00,M3ID0403,dexmedetomidine,0.0,mcg/kg/hr

In [45]:
# Ventilator parameters 
ventil_param = pd.read_csv('/VOLUME/nia_vent_weaning/dataset/integrated_data/Ventilator-parameter.csv', index_col=0, parse_dates=['parameter_datetime'])
ventil_param = ventil_param[~ventil_param.parameter.isnull()==True] # Drug_name에서 Null값 있는 경우 제외

# Ventil param 공통변수만 추출
t_aj = ventil_param[ventil_param['hospital_id']==2]
t_snu = ventil_param[ventil_param['hospital_id']==1]
b = set(t_aj.parameter)
a = set(t_snu.parameter)
set1 = a
set2 = b

final_vent_param = list(set1 & set2)
ventil_param = ventil_param[ventil_param['parameter'].isin(final_vent_param)]

ventil_param.columns = ['hospital_id', 'patient_id', 'hadm_id', 'mv_id', 'item', 'charttime', 'value', 'valuenum', 'unit']
ventil_param = ventil_param[['patient_id', 'charttime', 'item', 'value']]
ventil_param['item'] = ventil_param.item.str.split('_').str[1]

In [47]:
ventil_param.groupby(by='item').count()

                               patient_id  charttime   value
item
FiO2(setting)                      164001     164001  164001
I:E(setting)                        19236      19236   19236
Inspiratory pressure(setting)       19441      19441   19441
Meam airway pressure(Pt)           142396     142396  142396
Minute ventilation(Pt)             162934     162934  162934
PEEP(setting)                      163971     163971  163971
PSV(setting)                         8276       8276    8276
Peak inspiratory pressure(Pt)      162517     162517  162517
Plateau Pressure(Pt)                35972      35972   35972
Respiratory rate(Pt)               142213     142213  142213
Respiratory rate(Setting)            4969       4969    4969
Tidal volume(Pt)                   162358     162358  162358
Tidal volume(setting)                 645        645     645

In [53]:
ventil_param = pd.read_csv('/VOLUME/nia_vent_weaning/dataset/integrated_data/Ventilator-parameter.csv', index_col=0, parse_dates=['parameter_datetime'])
ventil_param = ventil_param[~ventil_param.parameter.isnull()==True] # Drug_name에서 Null값 있는 경우 제외
ventil_param.columns = ['hospital_id', 'patient_id', 'hadm_id', 'mv_id', 'item', 'charttime', 'value', 'valuenum', 'unit']

ventil_param[ventil_param['item'].str.contains('Tidal volume(setting)')]

Empty DataFrame
Columns: [hospital_id, patient_id, hadm_id, mv_id, item, charttime, value, valuenum, unit]
Index: []

In [91]:
ventil_param.groupby(by='item').count()

,hospital_id,patient_id,hadm_id,mv_id,charttime,value,valuenum,unit
item,,,,,,,,
Respiratory management/Airway_Endotracheal tube (ET) size,3335,3335,3335,3335,3335,3334,0,3335
Respiratory management/Airway_Tracheostomy (TT) size,1641,1641,1641,1641,1641,1641,0,1641
Respiratory management/Ventilator mode(setting),26145,26145,26145,26145,26145,26145,0,20328
Respiratory management/Ventilator_ASV MV (%) (setting),416,416,416,416,416,416,416,416
Respiratory management/Ventilator_E-sens or EST (%)(setting),3971,3971,3971,3971,3971,3971,0,1
Respiratory management/Ventilator_EPAP,3,3,3,3,3,3,0,3
Respiratory management/Ventilator_FiO2(setting),164001,164001,164001,164001,164001,164001,1424,164001
Respiratory management/Ventilator_I:E(setting),19236,19236,19236,19236,19236,19236,439,0
Respiratory management/Ventilator_IPAP,3,3,3,3,3,3,0,3
Respiratory management/Ventilator_Inspiratory pressure(setting),19441,19441,19441,19441,19441,19441,12,19441
Respiratory management/Ventilator_Meam airway pressure(Pt),142396,142396,142396,142396,142396,142396,0,142396
Respiratory management/Ventilator_Minute ventilation(Pt),162934,162934,162934,162934,162934,162934,0,162934
Respiratory management/Ventilator_Minute ventilation(setting),5610,5610,5610,5610,5610,5610,0,5610
Respiratory management/Ventilator_PEEP(setting),163971,163971,163971,163971,163971,163971,1306,163971
Respiratory management/Ventilator_PSV(setting),8276,8276,8276,8276,8276,8276,697,8276
Respiratory management/Ventilator_Peak inspiratory pressure(Pt),162517,162517,162517,162517,162517,162517,0,162517
Respiratory management/Ventilator_Plateau Pressure(Pt),35972,35972,35972,35972,35972,35972,0,35972
Respiratory management/Ventilator_Respiratory rate(Pt),142213,142213,142213,142213,142213,142213,0,142213
Respiratory management/Ventilator_Respiratory rate(Setting),4969,4969,4969,4969,4969,4969,686,4969
Respiratory management/Ventilator_Tidal volume(Pt),162358,162358,162358,162358,162358,162358,0,162358
Respiratory management/Ventilator_Tidal volume(setting),645,645,645,645,645,645,642,645
Respiratory management/Ventilator_Trigger type(setting),3971,3971,3971,3971,3971,3971,0,0

In [88]:
d = pd.read_csv('/VOLUME/nia_vent_weaning/dataset/SNU/Ventilator-parameter.csv', index_col=0)
set(d['parameter'])

{'Respiratory management/Airway_Endotracheal tube (ET) size',
 'Respiratory management/Airway_Tracheostomy (TT) size',
 'Respiratory management/Ventilator mode(setting)',
 'Respiratory management/Ventilator_E-sens or EST (%)(setting)',
 'Respiratory management/Ventilator_EPAP',
 'Respiratory management/Ventilator_FiO2(setting)',
 'Respiratory management/Ventilator_I:E(setting)',
 'Respiratory management/Ventilator_IPAP',
 'Respiratory management/Ventilator_Inspiratory pressure(setting)',
 'Respiratory management/Ventilator_Meam airway pressure(Pt)',
 'Respiratory management/Ventilator_Minute ventilation(Pt)',
 'Respiratory management/Ventilator_Minute ventilation(setting)',
 'Respiratory management/Ventilator_PEEP(setting)',
 'Respiratory management/Ventilator_PSV(setting)',
 'Respiratory management/Ventilator_Peak inspiratory pressure(Pt)',
 'Respiratory management/Ventilator_Plateau Pressure(Pt)',
 'Respiratory management/Ventilator_Respiratory rate(Pt)',
 'Respiratory management/Ventilator_Respiratory rate(Setting)',
 'Respiratory management/Ventilator_Tidal volume(Pt)',
 'Respiratory management/Ventilator_Tidal volume(setting)',
 'Respiratory management/Ventilator_Trigger type(setting)'}

In [89]:
d[d['parameter']=='Respiratory management/Ventilator_Tidal volume(setting)']

,hospital_id,patient_id,hadm_id,mv_id,parameter,parameter_datetime,value,valuenum,unit
37468,1,1.0,10.0,1.0,Respiratory management/Ventilator_Tidal volume...,2021-09-17 17:00,310,NaN,ml
37481,1,1.0,10.0,1.0,Respiratory management/Ventilator_Tidal volume...,2021-09-17 17:17,310,NaN,ml
58920,1,1.0,18.0,1.0,Respiratory management/Ventilator_Tidal volume...,2021-10-12 11:30,400,NaN,ml

In [24]:
# numeric 변수 4개 붙이기
data_df = pd.concat([vital, lab], axis=0)
data_df = pd.concat([data_df, height], axis=0)
data_df['charttime'] = pd.to_datetime(data_df['charttime'])
data_df

    patient_id           charttime          item  value
0            2 2021-09-23 18:00:00            HR  134.0
1            2 2021-09-23 18:00:00            RR   22.5
2            2 2021-09-23 18:00:00  DBP (a-line)   55.0
3            2 2021-09-23 18:00:00    DBP (NIBP)   61.0
4            2 2021-09-23 18:00:00    MBP (NIBP)   72.0
..         ...                 ...           ...    ...
333      2_171 2020-01-21 15:09:00        weight  104.0
334      2_171 2020-01-21 20:06:00        height  170.0
335      2_171 2020-01-21 20:06:00        weight  104.0
336      2_171 2020-01-24 00:00:00        weight  107.2
337      2_171 2020-01-28 05:00:00        weight  108.0

[492678 rows x 4 columns]

In [36]:
ventil_param[(ventil_param['item']=='Tidal volume(setting)')]

      patient_id           charttime                   item value
37468        1.0 2021-09-17 17:00:00  Tidal volume(setting)   310
37481        1.0 2021-09-17 17:17:00  Tidal volume(setting)   310
58920        1.0 2021-10-12 11:30:00  Tidal volume(setting)   400
0          2_102 2020-05-21 20:23:00  Tidal volume(setting)   480
6          2_102 2020-05-21 22:00:00  Tidal volume(setting)   480
...          ...                 ...                    ...   ...
5541       2_169 2020-02-12 09:00:00  Tidal volume(setting)   410
5543       2_169 2020-02-12 15:00:00  Tidal volume(setting)   410
5549       2_169 2020-02-12 18:00:00  Tidal volume(setting)   480
5554       2_169 2020-02-12 22:00:00  Tidal volume(setting)   480
5559       2_169 2020-02-13 07:37:00  Tidal volume(setting)   480

[645 rows x 4 columns]

In [34]:
ventil_param[(ventil_param['patient_id']==6) & (ventil_param['item']=='Tidal volume(setting)')]

Empty DataFrame
Columns: [patient_id, charttime, item, value]
Index: []

In [17]:
set(ventil_param.item)

{'FiO2(setting)',
 'I:E(setting)',
 'Inspiratory pressure(setting)',
 'Meam airway pressure(Pt)',
 'Minute ventilation(Pt)',
 'PEEP(setting)',
 'PSV(setting)',
 'Peak inspiratory pressure(Pt)',
 'Plateau Pressure(Pt)',
 'Respiratory rate(Pt)',
 'Respiratory rate(Setting)',
 'Tidal volume(Pt)',
 'Tidal volume(setting)'}

In [8]:
# category : I:E(setting) 
# Tidal volume(Pt) 1보다 작으면 * 1000 해줘야 함 (단위가 다름)

feature = 'Tidal volume(Pt)'
ventil_param[ventil_param['item']==feature]

       patient_id           charttime              item value
9             1.0 2021-09-23 18:00:00  Tidal volume(Pt)   325
21            1.0 2021-09-23 19:00:00  Tidal volume(Pt)   271
33            1.0 2021-09-23 20:00:00  Tidal volume(Pt)   334
43            1.0 2021-09-23 21:00:00  Tidal volume(Pt)   311
53            1.0 2021-09-23 22:00:00  Tidal volume(Pt)   295
...           ...                 ...               ...   ...
989331      2_010 2019-06-28 17:03:00  Tidal volume(Pt)  0.44
989338      2_010 2019-06-28 17:04:00  Tidal volume(Pt)  0.36
989345      2_010 2019-06-28 17:05:00  Tidal volume(Pt)  0.42
989352      2_010 2019-06-28 17:06:00  Tidal volume(Pt)  0.38
989359      2_010 2019-06-28 17:07:00  Tidal volume(Pt)  0.48

[162358 rows x 4 columns]

In [69]:
ventil_var

['Respiratory rate(Pt)',
 'PEEP(setting)',
 'Tidal volume(setting)',
 'Minute ventilation(Pt)',
 'Inspiratory pressure(setting)',
 'PSV(setting)',
 'Respiratory rate(Setting)',
 'Tidal volume(Pt)',
 'Peak inspiratory pressure(Pt)',
 'Plateau Pressure(Pt)',
 'FiO2(setting)',
 'Meam airway pressure(Pt)',
 'I:E(setting)']

In [25]:
fixed_var = ['age', 'sex', 'weight', 'height']  # Label_df : Age, Sex, / Data_df : weight/height 
cat_var = ['icu_type']  
# Vital + LAB + Drug + Ventilator-parameters
numeric_var = list(set(vital.item)) + list(set(lab.item))
ventil_var= list(set(ventil_param.item))[:-1]
drug_var = list(set(drug.drug_name))

In [ ]:
'''
        * 라벨에 붙여야 할 데이터
                
                1. Vital-sign (o)
                2. Ventil-parameter (o)
                3. Lab (o)
                4. Height / Weight (o)
                5. Drug (별도 테이블에서 테이터 추출)
                6. Diagnosis (별도 테이블에서 테이터 추출)
                7. Demographics (o)
'''

In [99]:
# 데이터 추출
import numpy as np
from datetime import timedelta
import tqdm

results = dict()
results['vent_end'] = []
results['st_time'] = []
results['end_time'] = []
results['pid'] = []
results['label'] = []

# Fixed Variables
for i in fixed_var + cat_var + drug_var:
    results[i] = []

# Vital-sign + LAB
for i in numeric_var:
    results[i + '_mean'] = []
    results[i + '_std'] = []

# Ventilator parameters
for i in ventil_var:
    results[i] = []

input_window = 24

for idx in tqdm.tqdm(range(len(label_df))):
    pid = label_df.patient_id[idx]
    results['pid'].append(pid)    # add pid
    results['label'].append(label_df.re_mv_status[idx])    # add label
    results['vent_end'].append(label_df.mv_endtime[idx])
    # Temp data
    tmp_df = data_df[data_df['patient_id']==pid]

    # fixed data
    results['age'].append(label_df.age[idx])    # add age
    results['sex'].append(label_df.sex[idx])    # add sex

    # cat feature
    results['icu_type'].append(label_df.icu_type[idx]) # icu type

    # numeric feature
    input_end = label_df.input_end[idx] - timedelta(hours=2)
    input_st = input_end - timedelta(hours=input_window)
    results['st_time'].append(input_st)
    results['end_time'].append(input_end)

    tmp_df_num = tmp_df[(tmp_df['charttime']>=input_st) & (tmp_df['charttime']<=input_end)] # 이벤트 발생 1시간 전 시점부터 12시간동안 데이터 input
    tmp_df_num['value'] = pd.to_numeric(tmp_df_num['value'], errors = 'coerce')

    # height_df
    height_df = tmp_df[tmp_df.item=='height']

    if len(height_df) == 0:
        height = np.nan
    else:
        height = round(np.mean(list(height_df['value'])),2)

    # weight_df
    weight_df = tmp_df[tmp_df.item=='weight']

    if len(weight_df) == 0:
        weight = np.nan
    else:
        weight = round(np.mean(list(weight_df['value'])),2)

    results['height'].append(height)
    results['weight'].append(weight)

    for nm in numeric_var:
        
        num_val = tmp_df_num[tmp_df_num.item==nm]

        if len(num_val)==0:
            val_rst_mean = np.nan
            val_rst_std = np.nan

        else:
            data_list = list(num_val['value'])

            rtn_list= []
            for _tmp in data_list:
                try:
                    float(_tmp)
                    rtn_list.append(_tmp)
                except ValueError:
                    pass

            val_rst_mean = round(np.mean(rtn_list),3)
            val_rst_std = round(np.std(rtn_list),3)

        results[nm + '_mean'].append(val_rst_mean)
        results[nm + '_std'].append(val_rst_std)

    # Drug data
    drug_tmp = drug[drug.patient_id==pid]
    drug_tmp = drug_tmp[(drug_tmp['drug_datetime']>=input_st) & (drug_tmp['drug_datetime']<=input_end) ]
    drug_tmp['drug_dose'] = pd.to_numeric(drug_tmp['drug_dose'], errors = 'coerce')

    for dg in drug_var:
    
        drug_val = drug_tmp[drug_tmp.drug_name==dg]

        if len(drug_val)==0:
            dg_val = np.nan

        else:
            data_list = list(drug_val['drug_dose'])
            dg_val = round(np.mean(data_list),3)
        
        results[dg].append(dg_val)

    # Ventilator-parameter data
    vt_tmp = ventil_param[ventil_param['patient_id']==pid]
    vt_tmp['value'] = pd.to_numeric(vt_tmp['value'], errors='coerce')
    vt_tmp2 = vt_tmp[(vt_tmp['charttime']>=input_st) & (vt_tmp['charttime']<=input_end)] # 이벤트 발생 1시간 전 시점부터 12시간동안 데이터 input
    for vt in ventil_var:
        if vt == 'I:E(setting)':
            continue
        else:
            tmp_list = list(vt_tmp2[vt_tmp2['item']==vt]['value'])

            if len(tmp_list) == 0:
                vt_rst = np.nan
            else:
                if vt == 'Tidal volume(Pt)':
                    vt_rst = round(np.mean(tmp_list),3)
                    if vt_rst < 0:  # L 단위 시, x 1000
                        vt_rst = vt_rst * 1000
                else:
                    vt_rst = round(np.mean(tmp_list),3)

        results[vt].append(vt_rst)


final_df = pd.DataFrame.from_dict(results)
final_df

100%|██████████| 165/165 [00:16<00:00,  9.72it/s]

,vent_end,st_time,end_time,pid,label,age,sex,weight,height,icu_type,...,Tidal volume(setting),Minute ventilation(Pt),Inspiratory pressure(setting),PSV(setting),Respiratory rate(Setting),Tidal volume(Pt),Peak inspiratory pressure(Pt),Plateau Pressure(Pt),FiO2(setting),Meam airway pressure(Pt)
0,2021-09-28 17:28:00,2021-09-27 14:28:00,2021-09-28 14:28:00,2,0.0,67,1,55.62,165.0,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2021-09-13 06:30:00,2021-09-12 03:30:00,2021-09-13 03:30:00,3,0.0,69,1,86.63,165.0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2021-09-17 18:31:00,2021-09-16 15:31:00,2021-09-17 15:31:00,4,0.0,81,1,69.67,172.0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2021-10-01 13:46:00,2021-09-30 10:46:00,2021-10-01 10:46:00,5,0.0,43,0,70.46,158.0,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2021-09-23 10:49:00,2021-09-22 07:49:00,2021-09-23 07:49:00,6,0.0,75,1,49.50,164.0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
160,2020-05-23 09:40:00,2020-05-22 06:40:00,2020-05-23 06:40:00,2_167,0.0,55,1,58.80,173.0,2,...,438.0,NaN,NaN,9.6,14.4,NaN,NaN,NaN,0.350,NaN
161,2019-09-23 13:50:00,2019-09-22 10:50:00,2019-09-23 10:50:00,2_168,0.0,77,0,58.95,155.0,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
162,2020-02-13 10:05:00,2020-02-12 07:05:00,2020-02-13 07:05:00,2_169,0.0,80,1,67.70,170.0,2,...,445.0,NaN,NaN,12.0,18.0,NaN,NaN,NaN,0.300,NaN
163,2019-01-15 18:15:00,2019-01-14 15:15:00,2019-01-15 15:15:00,2_170,0.0,41,1,99.70,180.0,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.383,NaN
164,2020-01-23 09:00:00,2020-01-22 06:00:00,2020-01-23 06:00:00,2_171,0.0,51,1,105.80,170.0,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.400,NaN

In [81]:
final_df.iloc[:, 60:80].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 165 entries, 0 to 164
Data columns (total 10 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Tidal volume(setting)          44 non-null     float64
 1   Minute ventilation(Pt)         7 non-null      float64
 2   Inspiratory pressure(setting)  1 non-null      float64
 3   PSV(setting)                   54 non-null     float64
 4   Respiratory rate(Setting)      46 non-null     float64
 5   Tidal volume(Pt)               7 non-null      float64
 6   Peak inspiratory pressure(Pt)  7 non-null      float64
 7   Plateau Pressure(Pt)           3 non-null      float64
 8   FiO2(setting)                  76 non-null     float64
 9   Meam airway pressure(Pt)       7 non-null      float64
dtypes: float64(10)
memory usage: 13.0 KB

In [96]:
# final_df_1h = final_df
# final_df_1h.to_csv('/VOLUME/nia_vent_weaning/dataset/1h_data.csv')

In [98]:
# final_df_2h = final_df
# final_df_2h.to_csv('/VOLUME/nia_vent_weaning/dataset/2h_data.csv')

In [100]:
# final_df_3h = final_df
# final_df_3h.to_csv('/VOLUME/nia_vent_weaning/dataset/3h_data.csv')

# Dataset 통합

In [58]:
import pandas as pd

data_dir = '/VOLUME/nia_vent_weaning/dataset/'
df1 = pd.read_csv(data_dir + '1h_data.csv', index_col=0)
df2 = pd.read_csv(data_dir + '2h_data.csv', index_col=0)
df3 = pd.read_csv(data_dir + '3h_data.csv', index_col=0)

dataset = pd.concat([df1, df2, df3], axis=0)
dataset = dataset.fillna(-999)
dataset

,vent_end,st_time,end_time,pid,label,age,sex,weight,height,icu_type,...,Tidal volume(setting),Minute ventilation(Pt),Inspiratory pressure(setting),PSV(setting),Respiratory rate(Setting),Tidal volume(Pt),Peak inspiratory pressure(Pt),Plateau Pressure(Pt),FiO2(setting),Meam airway pressure(Pt)
0,2021-09-28 17:28:00,2021-09-27 16:28:00,2021-09-28 16:28:00,2,0.0,67,1,55.62,165.0,5,...,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.000,-999.0
1,2021-09-13 06:30:00,2021-09-12 05:30:00,2021-09-13 05:30:00,3,0.0,69,1,86.63,165.0,1,...,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.000,-999.0
2,2021-09-17 18:31:00,2021-09-16 17:31:00,2021-09-17 17:31:00,4,0.0,81,1,69.67,172.0,1,...,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.000,-999.0
3,2021-10-01 13:46:00,2021-09-30 12:46:00,2021-10-01 12:46:00,5,0.0,43,0,70.46,158.0,2,...,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.000,-999.0
4,2021-09-23 10:49:00,2021-09-22 09:49:00,2021-09-23 09:49:00,6,0.0,75,1,49.50,164.0,1,...,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.000,-999.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
160,2020-05-23 09:40:00,2020-05-22 06:40:00,2020-05-23 06:40:00,2_167,0.0,55,1,58.80,173.0,2,...,438.0,-999.0,-999.0,9.6,14.4,-999.0,-999.0,-999.0,0.350,-999.0
161,2019-09-23 13:50:00,2019-09-22 10:50:00,2019-09-23 10:50:00,2_168,0.0,77,0,58.95,155.0,2,...,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.000,-999.0
162,2020-02-13 10:05:00,2020-02-12 07:05:00,2020-02-13 07:05:00,2_169,0.0,80,1,67.70,170.0,2,...,445.0,-999.0,-999.0,12.0,18.0,-999.0,-999.0,-999.0,0.300,-999.0
163,2019-01-15 18:15:00,2019-01-14 15:15:00,2019-01-15 15:15:00,2_170,0.0,41,1,99.70,180.0,2,...,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,0.383,-999.0
164,2020-01-23 09:00:00,2020-01-22 06:00:00,2020-01-23 06:00:00,2_171,0.0,51,1,105.80,170.0,2,...,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,0.400,-999.0

In [102]:
# dataset.to_csv('./dataset.csv')

In [59]:
icu_cat_df = pd.get_dummies(dataset['icu_type'])
dataset = dataset.drop(['icu_type'], axis=1)
dataset = pd.concat([dataset, icu_cat_df], axis=1)
dataset

,vent_end,st_time,end_time,pid,label,age,sex,weight,height,dexmedetomidine,...,PSV(setting),Respiratory rate(Setting),Tidal volume(Pt),Peak inspiratory pressure(Pt),Plateau Pressure(Pt),FiO2(setting),Meam airway pressure(Pt),1,2,5
0,2021-09-28 17:28:00,2021-09-27 16:28:00,2021-09-28 16:28:00,2,0.0,67,1,55.62,165.0,0.000,...,-999.0,-999.0,-999.0,-999.0,-999.0,-999.000,-999.0,0,0,1
1,2021-09-13 06:30:00,2021-09-12 05:30:00,2021-09-13 05:30:00,3,0.0,69,1,86.63,165.0,20.000,...,-999.0,-999.0,-999.0,-999.0,-999.0,-999.000,-999.0,1,0,0
2,2021-09-17 18:31:00,2021-09-16 17:31:00,2021-09-17 17:31:00,4,0.0,81,1,69.67,172.0,-999.000,...,-999.0,-999.0,-999.0,-999.0,-999.0,-999.000,-999.0,1,0,0
3,2021-10-01 13:46:00,2021-09-30 12:46:00,2021-10-01 12:46:00,5,0.0,43,0,70.46,158.0,0.700,...,-999.0,-999.0,-999.0,-999.0,-999.0,-999.000,-999.0,0,1,0
4,2021-09-23 10:49:00,2021-09-22 09:49:00,2021-09-23 09:49:00,6,0.0,75,1,49.50,164.0,-999.000,...,-999.0,-999.0,-999.0,-999.0,-999.0,-999.000,-999.0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
160,2020-05-23 09:40:00,2020-05-22 06:40:00,2020-05-23 06:40:00,2_167,0.0,55,1,58.80,173.0,-999.000,...,9.6,14.4,-999.0,-999.0,-999.0,0.350,-999.0,0,1,0
161,2019-09-23 13:50:00,2019-09-22 10:50:00,2019-09-23 10:50:00,2_168,0.0,77,0,58.95,155.0,-999.000,...,-999.0,-999.0,-999.0,-999.0,-999.0,-999.000,-999.0,0,1,0
162,2020-02-13 10:05:00,2020-02-12 07:05:00,2020-02-13 07:05:00,2_169,0.0,80,1,67.70,170.0,-999.000,...,12.0,18.0,-999.0,-999.0,-999.0,0.300,-999.0,0,1,0
163,2019-01-15 18:15:00,2019-01-14 15:15:00,2019-01-15 15:15:00,2_170,0.0,41,1,99.70,180.0,-999.000,...,-999.0,-999.0,-999.0,-999.0,-999.0,0.383,-999.0,0,1,0
164,2020-01-23 09:00:00,2020-01-22 06:00:00,2020-01-23 06:00:00,2_171,0.0,51,1,105.80,170.0,0.125,...,-999.0,-999.0,-999.0,-999.0,-999.0,0.400,-999.0,0,1,0

In [69]:
success_group = list(set(dataset[dataset['label']==0]['pid']))
fail_group = list(set(dataset[dataset['label']==1]['pid']))

In [70]:
fail_group

['19', '54', '65', '66', '2_124', '45']

In [71]:
import random

random.seed(0)
train_suc = random.sample(success_group, int(len(success_group)*0.8))
train_fail = random.sample(fail_group, 4)

# Trainset
train_pid = train_suc + train_fail

trainset = dataset[dataset['pid'].isin(train_pid)]
testset = dataset[~dataset['pid'].isin(train_pid)]
print(len(trainset))
print(len(testset))

393
102

In [72]:
train_x = trainset.drop(['vent_end', 'st_time', 'end_time', 'pid', 'label'], axis=1)
train_y = trainset['label']
test_x = testset.drop(['vent_end', 'st_time', 'end_time', 'pid', 'label'], axis=1)
test_y = testset['label']
print(train_x.shape)
print(test_x.shape)

(393, 67)
(102, 67)

In [78]:
# RF

from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score # 정확도 함수

clf = RandomForestClassifier(n_estimators=150, max_depth=11,random_state=0)
clf.fit(train_x,train_y)

predict1 = clf.predict(test_x)
print(accuracy_score(test_y,predict1))

0.9411764705882353

In [73]:
# LR
from sklearn.linear_model import LogisticRegression

clf = LogisticRegression(C=1, penalty='l1', solver='liblinear')
clf.fit(X=train_x, y=train_y)

LogisticRegression(C=1, penalty='l1', solver='liblinear')

In [81]:
# lgbm
from lightgbm import LGBMClassifier

clf = LGBMClassifier(n_estimators=1500, num_leaves=31, boosting_type='gbdt', metric='binary_logloss',
                    learning_rate=0.01, objective='binary')
clf.fit(X=train_x, y=train_y)

LGBMClassifier(learning_rate=0.01, metric='binary_logloss', n_estimators=1500,
               objective='binary')

In [83]:
# SVM
from sklearn.svm import SVC

clf = SVC(C=2, gamma=100, kernel='linear', probability=True)
clf.fit(X=train_x, y=train_y)

SVC(C=2, gamma=100, kernel='linear', probability=True)

In [86]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics  import roc_auc_score, f1_score, recall_score, confusion_matrix, precision_score, average_precision_score, roc_curve, accuracy_score, auc, precision_recall_curve
import tqdm, numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
%config InlineBackend.figure_format='retina'
warnings.filterwarnings('ignore')


y_prob = clf.predict_proba(test_x)
y_prob2 = y_prob[:,1]

# calculate roc curves
fpr, tpr, thresholds = roc_curve(test_y, y_prob2)

pred_positive_label = clf.predict_proba(test_x)[:,1]
y_prediction = clf.predict(test_x)
fprs, tprs, threshold = roc_curve(test_y, pred_positive_label)
y_prediction = np.where(clf.predict_proba(test_x)[:,1] > 0.1, 1, 0)

roc_score = auc(fprs, tprs)
prc = average_precision_score(test_y, pred_positive_label)
accuracy = accuracy_score(test_y, y_prediction)
prec = precision_score(test_y, y_prediction)
rec = recall_score(test_y, y_prediction)
f1 = f1_score(test_y, y_prediction)
CM = confusion_matrix(test_y, y_prediction)
TN, FN, TP, FP = CM[0][0], CM[1][0], CM[1][1], CM[0][1]
sen = TP/(TP+FN)
spe = TN/(TN+FP)

print('AUROC: ', round(roc_score,3))
print('AUPRC: ',  round(prc,3))
print('Accuracy: ',  round(accuracy,3))
print('Precision: ',  round(prec,3))
print('Recall: ',  round(rec,3))
print('F1-score: ',  round(f1,3))
print('Sensitivity: ',  round(sen,3))
print('Spesificity: ',  round(spe,2))

AUROC:  0.792
AUPRC:  0.165
Accuracy:  0.627
Precision:  0.136
Recall:  1.0
F1-score:  0.24
Sensitivity:  1.0
Spesificity:  0.6

In [10]:
import pandas as pd
import json
from pandas import json_normalize
# Label Sample

def read_json_file(file):
    with open(file, "r") as r:
        response = r.read()
        response = response.replace('\n', '')
        response = response.replace('}{', '},{')
        response = "[" + response + "]"
        return json.loads(response)


data_pth = '/VOLUME/nia_vent_weaning/label_json/label_sample.json'
info = read_json_file(data_pth)
df = pd.DataFrame.from_dict(pd.json_normalize(info), orient='columns')
df

,name_VentilatorWeaning,wav_path_PRESSURE,wav_preset_PRESSURE,wav_path_FLOW,wav_preset_FLOW
0,"[""success""]",2_11_AWF_44100hz.wav,"[{""startTime"": 0,""endTime"": 4.1386666666666665...",3_14_AWP_60hz.wav,"[{""startTime"": 639.612833,""endTime"": 640.85333..."
1,"[""false""]",2_11_AWF_44100hz.wav,"[{""startTime"": 0,""endTime"": 4.1386666666666665...",3_14_AWP_60hz.wav,"[{""startTime"": 639.612833,""endTime"": 640.85333..."
2,"[""success""]",2_11_AWF_44100hz.wav,"[{""startTime"": 0,""endTime"": 4.1386666666666665...",3_14_AWP_60hz.wav,"[{""startTime"": 639.612833,""endTime"": 640.85333..."
3,"[""false""]",2_11_AWF_44100hz.wav,"[{""startTime"": 0,""endTime"": 4.1386666666666665...",3_14_AWP_60hz.wav,"[{""startTime"": 639.612833,""endTime"": 640.85333..."
4,"[""success""]",2_11_AWF_44100hz.wav,"[{""startTime"": 0,""endTime"": 4.1386666666666665...",3_14_AWP_60hz.wav,"[{""startTime"": 639.612833,""endTime"": 640.85333..."